<h1>Call Number Parser</h1>
<%= form_tag({controller: 'tools', action: 'callnumber_parser'}, method: 'post', class: 'box-shadow') do %>
  <div class="form-group">
    <label for="callnumbers-input">Enter call numbers (1 per line)</label>
    <textarea class="form-control" id="callnumbers-input" name="callnumbers_input"><%= params[:callnumbers_input] %></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
<% end %>

<% if @callnumbers.present? %>
<table class="table table-sm">
    <tr>
      <th>Raw Call Number</th>
      <th>Clean Call Number</th>
      <th>Sortable Call Number</th>
      <th>Call Number Class</th>
      <th>Call Number Class Number</th>
    </tr>

    <% @callnumbers.each do |c| %>
    <tr>
      <td><%= c[:raw] %></td>
      <td><%= c[:clean] %></td>
      <td><%= c[:sortable] %></td>
      <td><%= c[:class] %></td>
      <td><%= c[:class_number] %></td>
    </tr>
    <% end %>
</table>
<% end %>
