<h1><%= @page_title %></h1>
<p>
  Use this form to request an item to add permanently to JCKL's collections. If you just need an item for your own one-time
  use, please use <a href="http://guides.library.ucmo.edu/interlibrary-loan">JCKL's Interlibrary Loan service</a>.

<% if @request.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @request.errors.full_messages.uniq.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@request, url: new_book_requests_url ) do |f| %>
  <%= f.inputs do %>
    <%= f.input :requestor_name, :as => :string %>
    <%= f.input :requestor_email, :as => :email %>
    <%= f.input :format, :as => :select,
      :collection => [ "Book", "CD", "DVD", "E-Book", "VHS", "Other" ] %>
    <%= f.input :title %>
    <%= f.input :edition %>
    <%= f.input :author %>
    <%= f.input :isbn, :label => "ISBN" %>
    <%= f.input :publisher %>
    <%= f.input :year, :label => "Year Published" %>
    <%= f.input :series %>
    <%= f.input :volumes %>
    <%= f.input :list_price %>
    <%= f.input :copies_ordered %>
    <% if current_user.employee? %>
      <%= f.input :recommender %>
      <%= f.input :approved_by %>
      <%= f.input :fund_code, :label => "Fund Code", required: true,
        :collection => FundCode.where.not(code: "GEN").order( "code ASC" ).pluck( "concat(code, ' - ', program)", :id ) + FundCode.where(code: "GEN").order( "code ASC" ).pluck( "concat(code, ' - ', program)", :id ) %>
    <% else %>
      <%= f.input :subject_area, :label => "Subject Area", required: true,
        :collection => SubjectArea.all.order( "display_name ASC" ).pluck( :display_name, :id ) %>
    <% end %>
    <%= f.input :notes, :input_html => { :rows => 3 } %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Submit", :button_html => {:class => 'btn btn-default'} %>
  <% end %>
<% end %>
