<h1><%= @page_title %></h1>
<% if @employee.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h4>
    <ul>
      <% @employee.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@employee, url: employee_url( name: @employee.url_slug ), :html => {method: :put} ) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, :as => :email, :input_html => { :disabled => true } %>
    <%= f.input :first_name, :as => :string %>
    <%= f.input :last_name, :as => :string %>
    <%= f.input :phone, :as => :string %>
    <%= f.input :office, :as => :string %>
    <%= f.input :title, :as => :string %>
    <%= f.input :rank, :as => :string %>
    <%= f.input :department, collection: Department.all.order(:display_name).pluck(:display_name, :id) %>
    <%= f.input :supervisor, collection: Employee.all.order(:last_name, :first_name).pluck("CONCAT(last_name, ', ', first_name)", :id)  %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => "Submit", :button_html => {:class => 'btn btn-default'} %>
  <% end %>
<% end %>
