<h1><%= @page_title %></h1>
<h2>Absences</h2>
<ul>
  <li><%= link_to "View Today's Absence Calendar", absences_by_date_url %></li>
  <li><%= link_to "Submit a New Absence Request", new_employee_absence_url( employee_name: @employee.url_slug ) %></li>
  <li><%= link_to "View My Absences", employee_absences_url( employee_name: @employee.url_slug ) %></li>
  <% @subordinates.each do |employee| %>
    <% next if employee == @employee %>
    <li><%= link_to "View and Approve #{employee.first_last}'s Absences", employee_absences_url( employee_name: employee.url_slug ) %></li>
  <% end %>
</ul>
<h2>Employee Functions</h2>
<ul>
  <li><%= link_to "JCKL Wiki", "https://sites.google.com/a/ucmo.edu/jckl/home" %></li>
  <li><%= link_to "Purchase Request", new_new_book_request_url %></li>
  <li><%= link_to("Technology Guides and Tutorials", "https://sites.google.com/a/ucmo.edu/jckl-technology-guides-and-tutorials/") %>
    <li><%= link_to("Website Issue Tracker", "https://library.ucmo.edu/projects/projects/jckl-website/issues") %>
      <ul>
        <li><%= link_to("Submit an Issue", "https://library.ucmo.edu/projects/projects/jckl-website/issues/new") %>
        </ul>
      </li>
      <% if current_user.has_role?("administrator") %>
        <li><%= link_to "Site Administration", admin_dashboard_url %></li>
      <% end %>
    </ul>
    <h2>Your Information <%= link_to "Edit", edit_employee_url( name: @employee.url_slug ), :class => "badge badge-default" %></h2>
    <table class="table table-condensed table-striped">
      <tr>
        <td>Name</td>
        <td><%= @employee.first_last %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @employee.email %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= @employee.phone %></td>
      </tr>
      <tr>
        <td>Office</td>
        <td><%= @employee.office %></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><%= @employee.title %></td>
      </tr>
      <tr>
        <td>Rank</td>
        <td><%= @employee.rank %></td>
      </tr>
      <tr>
        <td>Supervisor</td>
        <td><%= if @employee.supervisor.blank? then "N/A" else @employee.supervisor.first_last end %></td>
        </tr>
        <tr>
          <td>Department</td>
          <td><%= @employee.department.display_name %></td>
        </tr>
      </table>
