<h1><%= @page_title %></h1>
<table class="employee-table table table-striped table-condensed">
  <thead>
    <th>Subject</th>
    <th>SCDP</th>
    <th>Librarian</th>
  </thead>
  <% @subjects.each do |subject| %>
    <% next unless subject.scdp_url.present? %>
    <tr>
      <td class="employee-subject" ><%= subject.display_name %></td>
      <td class="scdp"><%= link_to(subject.scdp_name || "Subject Collection Development Policy", subject.scdp_url) %></td>
      <td class="employee-name">
        <% if subject.subject_librarian.libguides_profile_url.present? %>
          <%= link_to(subject.subject_librarian.last_first, subject.subject_librarian.libguides_profile_url) %>
        <% else %>
          <%= subject.subject_librarian.last_first %>
        <% end %>
        <br />
        <%= subject.subject_librarian.phone %>
        <br />
        <%= link_to(subject.subject_librarian.email, employee_website_contacts_url( subject.subject_librarian.url_slug )) %>
      </td>
    </tr>
  <% end %>
</table>
