<h1><%= @page_title %></h1>
<p><%= Time.zone.now.strftime( "%A, %B %-d, %Y" ) %></p>
<ul>
  <li><%= link_to "JCKL", root_url %></li>
  <li><%= link_to "UCMO", "http://www.ucmo.edu" %></li>
  <li><%= link_to "Copy Card Sheet", "https://docs.google.com/spreadsheet/ccc?key=0AjbwSfvQNOs4dGRZNzdsYXBEeGRHUHVjZ3diTTV0VHc&usp=sharing" %></li>
  <li><%= link_to "Inventory", barcode_files_url %></li>
  <li><%= link_to "Reference Tracking System", "https://ucmo.libapps.com/libapps/login.php?site_id=5447" %></li>
  <li><%= link_to "Room Booking Schedule (JCKL website)", roomschedules_url %></li>
  <li><%= link_to "Room Booking Schedule (25Live)", "http://www.ucmo.edu/25/25" %></li>
  <li><%= link_to "Study Room Reservation Schedule", "https://ucmo.libapps.com/libapps/login.php?site_id=6742" %></li>
</ul>
