<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Children's Literature Festival Online Order</h1>
    <table>
      <tr><td>Time Submitted:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= Time.now.in_time_zone("America/Chicago").strftime( "%B %d, %Y %l:%M %p" ) %></td></tr>
      <tr><td>Order ID:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.id %></td></tr>
      <tr><td>Contact Name:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.contact_name %></td></tr>
      <tr><td>Contact Email:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.contact_email %></td></tr>
      <tr><td>Contact Phone:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.contact_phone %></td></tr>
      <tr><td>Tax Exempt:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= if @order.tax_exempt then "Yes" else "No" end %></td></tr>
      <tr><td>Tax Exemption Number:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.tax_exempt_number %></td></tr>
      <tr><td>Notes:&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= @order.comment %></td></tr>
      <tr><td>Subtotal:&nbsp;&nbsp;&nbsp;&nbsp;</td><td>$<%= number_with_precision( @order.subtotal, :precision => 2 ) %></td></tr>
      <tr><td>Tax: (<%= @order.tax_rate %>%)&nbsp;&nbsp;&nbsp;&nbsp;</td><td>$<%= number_with_precision( @order.tax, :precision => 2 ) %></td></tr>
      <tr><td>Total&nbsp;&nbsp;&nbsp;&nbsp;</td><td>$<%= number_with_precision( @order.total, :precision => 2 ) %></td></tr>
    </table>
    <br /><hr><br />
    <table>
      <th style="text-align:left">Title</th>
      <th style="text-align:left">Author</th>
      <th style="text-align:left">Price</th>
      <th style="text-align:left">Quantity</th>
      <th style="text-align:left">Total</th>
      <% @order.clf_book_order_links.each do |book_order| %>
      <tr>
        <td style="width: 50%"><%= book_order.clf_book.title.titleize %></td>
        <td style="width: 25%"><%= book_order.clf_book.combined_authors %></td>
        <td style="width: 10%">$<%= number_with_precision( book_order.clf_book.price, :precision => 2 ) %></td>
        <td style="width: 5%"><%= book_order.quantity %></td>
        <td style="width: 10%">$<%= number_with_precision( book_order.clf_book.price * book_order.quantity, :precision => 2 ) %></td>
      </tr>
      <% end %>
    </table>
    <br /><hr><br />
    <p>Note: This e-mail was sent automatically from an unmonitored account (library@ucmo.edu). Please do not REPLY to this e-mail. Use REPLY ALL to make sure your e-mail reaches the appropriate recipients.</p>
  </body>
</html>
