<div class="spc-top-tabs">
  <div class="container">

    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>

</div>


<div class="container">

  <div class="row">
    <%= render partial: "shared/breadcrumb" %>
  </div>

  <h1 class="sr-only"><%= @page_title %></h1>

  <div class="row">

    <sidebar class="col-md-3 pl-0">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </sidebar>

    <div class="col-md-9">

      <div class="row">
        <div class="col-md-8 pl-0">
          <div class="card text-white">
            <img class="card-img" src="http://via.placeholder.com/540x200" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 pr-0">
          <div class="card">
            <div class="card-header">
              Quick Links
            </div>
            <div class="list-group list-group-flush">
              <a class="list-group-item">Finding Aids</a>
              <a class="list-group-item">Request Materials</a>
              <a class="list-group-item">Request Copies</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Featured Collections</h2>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/265x200" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Collection 1</h4>
              <p class="card-text">This is a description of the collection.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/265x200" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Collection 2</h4>
              <p class="card-text">This is a description of the collection.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/265x200" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Collection 3</h4>
              <p class="card-text">This is a description of the collection.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
