<h1><%= @page_title %></h1>

<% if !current_user %>
<div class="alert alert-warning">
  Note: Anyone can view the room schedules below, but only library employees are able to book rooms using this system.
  If you are not a library employee, please use <%= link_to "25Live", "http://www.ucmo.edu/25/25" %>. If you are a library employee, please <%= link_to "log in", new_user_session_url %>.
</div>
<% end %>

<div>
  <%= form_tag(meeting_rooms_url, method: :get, class: 'room-bookings-availability-filter form-inline') do -%>
    <p class="w-100">Looking for a room at a specific time? Enter the time for your event here.</p>
    <label htmlFor="start-time">Start Time</label>
    <input type="text" class="form-control anytime-datetime" name="start_time" id="start-time" value="<%= params[:start_time] %>" />
    <label htmlFor="end-time">End Time</label>
    <input type="text" class="form-control anytime-datetime" name="end_time" id="end-time" value="<%= params[:end_time] %>" />
    <button class="btn btn-primary" type="submit">Submit</button>
    <%= link_to 'Clear', meeting_rooms_url, class: 'btn btn-light' %>
  <% end -%>

  <div class="room-bookings-availability-message">
    <% if @rooms.blank? %>
      <div class="alert alert-warning">There are no rooms available during the specified time.</div>
    <% elsif (params[:start_time] || params[:end_time]) && !(params[:start_time] && params[:end_time]) %>
      <div class="alert alert-warning">Please enter a start time and an end time.</div>
    <% elsif (params[:start_time] && params[:end_time]) %>
      <div class="alert alert-success">There are <%= @rooms.length %> rooms available during the specified time.</div>
    <% end %>
  </div>

  <ul class="room-bookings-room-list list-group">
    <% @rooms&.each do |room| %>
      <li id="room-<%= room.room_name %>" class="list-group-item room">
        <div class="w-100">
          <h2 class="room-name"><%= room.display_name %></h2>
          <div class="room-description"><%= room.description %></div>
        </div>
        <div class="row">
          <div class="room-booking-info col-md-4">
            <table class="table table-sm table-striped">
              <tbody>
                <tr>
                  <td>Seats</td>
                  <td><%= room.seating %></td>
                </tr>
                <tr>
                  <td>Desktops</td>
                  <td><%= room.desktops %></td>
                </tr>
                <tr>
                  <td>Laptops</td>
                  <td><%= room.laptops %></td>
                </tr>
                <tr>
                  <td>Projector</td>
                  <td>
                    <% if room.projector %>
                      <i class="fa fa-check-square">
                    <% else %>
                      <i class="fa fa-times-rectangle">
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Podium</td>
                  <td>
                    <% if room.projector %>
                      <i class="fa fa-check-square">
                    <% else %>
                      <i class="fa fa-times-rectangle">
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Whiteboard</td>
                  <td>
                    <% if room.projector %>
                      <i class="fa fa-check-square">
                    <% else %>
                      <i class="fa fa-times-rectangle">
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Classroom Use</td>
                  <td>
                    <% if room.projector %>
                      <i class="fa fa-check-square">
                    <% else %>
                      <i class="fa fa-times-rectangle">
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Meetings</td>
                  <td>
                    <% if room.projector %>
                      <i class="fa fa-check-square">
                    <% else %>
                      <i class="fa fa-times-rectangle">
                    <% end %>
                  </td>
                </tr>
                <% if room.library_only %>
                <tr>
                  <td>Library use only</td>
                  <td><i class="fa fa-exclamation-triangle"></i></td>
                </tr>
                <% elsif room.faculty_staff_only %>
                <tr>
                  <td>Faculty and staff only</td>
                  <td><i class="fa fa-exclamation-triangle"></i></td>
                </tr>
                <% else %>
                <tr>
                  <td>Faculty, staff, and students</td>
                  <td><i class="fa fa-check-square"></i></td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <% if room.photo %>
              <div><img class="room-image" src="<%= room.medium_photo_url %>" /></div>
            <% else %>
              <p>(Photo not available.)</p>
            <% end %>
          </div>
          <div class="room-booking-buttons col-md-4">
            <a class="room-calendar-link btn btn-lg btn-default" data-toggle="modal" data-target="#room-bookings-calendar-modal" data-calendar-url="<%= room.google_calendar_week_page %>" data-calendar-embed-url="<%= room.google_calendar_week_embed %>">View Calendar</a>
            <%= link_to 'View on Map', map_url(highlight: 'room-' + room.room_name), class: 'room-map btn btn-lg btn-light' %>
            <% if current_user.present? %>
              <%= link_to 'Reserve This Room', new_booking_for_meeting_room_url(room_name: room.room_name), class: 'room-book btn btn-lg btn-light' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="room-bookings-calendar-modal modal" id="room-bookings-calendar-modal" tabIndex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title"></h2>
        </div>
        <div class="modal-body">
          <iframe class="room-bookings-iframe" scrolling="no"></iframe>
          <p class="google-calendar-link">Having trouble viewing this calendar?
            <a href="">View the calendar on Google.</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
