<h1><%= @page_title %></h1>

<p>
  University of Central Missouri faculty, staff, and students may reserve available rooms in the James C. Kirkpatrick Library by going through 25Live (if you have had training with Meeting & Conference Services) or by contacting Meeting & Conference Services at 660-543-4342, email <a href="mailto:unionmacs@ucmo.edu">unionmacs@ucmo.edu</a> or web site at <a href="http://www.ucmo.edu/offices/meeting-and-conference-services/">www.ucmo.edu/offices/meeting-and-conference-services/</a>.  Only Library Services personnel are authorized to use the booking form.
</p>
<h2>Scheduling</h2>
<p>
  Reservations must be made in advance by using 25Live or by contacting Meeting & Conference Services at 660-543-4342, email <a href="mailto:unionmacs@ucmo.edu">unionmacs@ucmo.edu</a> or web site at <a href="http://www.ucmo.edu/offices/meeting-and-conference-services/">www.ucmo.edu/offices/meeting-and-conference-services/</a>. UCM faculty, staff and students have priority in the use of the facilities over general community events. Community patrons are assessed a room rental fee. Please call Meeting & Conference Services at 660-543-4342, email unionmacs@ucmo.edu or web site www.ucmo.edu/offices/meeting-and-conference-services/ or stop by the Union room 301 for room rental rates.
</p>
<h2>Special Arrangements</h2>
<p>
  The University Librarian determines which rooms are available for food and drinks. Only events that have been previously arranged with the University Librarian may have food and drinks. The requestor is responsible to see that this request is followed. University policy requires the use of Sodexo for food and refreshments. Food services may be contacted at 660-543-4440, email <a href="mailto:sodexcatering@ucmo.edu">sodexcatering@ucmo.edu</a> or web site at <a href="http://www.ucmo.edu/offices/elliott-student-union/retail-dining/">www.ucmo.edu/offices/elliott-student-union/retail-dining/</a>. Food cannot be delivered prior to the opening of the facility. Library personnel does not arrange for set up. All set up is the responsibility of the user.
</p>
<p>
  The user is responsible for setting up any special arrangements for furniture. Please call Meeting & Conference Services at 660-543-4342, email <a href="mailto:unionmacs@ucmo.edu">unionmacs@ucmo.edu</a>, web site <a href="http://www.ucmo.edu/offices/meeting-and-conference-services/">www.ucmo.edu/offices/meeting-and-conference-services/</a> or stop by the Union Room 301 for room arrangements. A cleaning fee may be charged if the room/area is not returned to its original condition.
</p>
<p>
  If special software is needed, the requestor must contact the Office of Technology at 660-543-4357 to request software. Library Services does not provide specialty software.
</p>

<h2>Booking Form</h2>
<% if @booking.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= semantic_form_for(@booking, url: create_booking_for_meeting_room_url(room_name: @booking.meeting_room&.room_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :contact_name, as: :string, label: "Name" %>
    <%= f.input :contact_email, as: :email, label: "Email Address" %>
    <%= f.input :contact_phone, as: :string, label: "Phone Number" %>
    <%= f.input :contact_address, as: :string, label: "Address" %>
    <%= f.input :contact_dept, as: :string, label: "Department/Organization" %>
    <%= f.input :meeting_room, as: :select, label: "Room", collection: MeetingRoom.all.order(:display_name).pluck(:display_name, :id) ,input_html: {disabled: true} %>
    <%= f.input :event_name, as: :string, label: "Event Title" %>
    <%= f.input :start_time, as: :string, label: "Booking Start Time", input_html: { class: "anytime-datetime" } %>
    <%= f.input :end_time, as: :string, label: "Booking End Time", input_html: { class: "anytime-datetime" } %>
    <%= f.input :setup_time, as: :select, label: "Setup Time", collection: ["0 minutes", "15 minutes", "30 minutes", "45 minutes", "60 minutes"] %>
    <%= f.input :takedown_time, as: :select, label: "Takedown Time", collection: ["0 minutes", "15 minutes", "30 minutes", "45 minutes", "60 minutes"] %>
    <%= f.input :attendance, as: :number, label: "Estimated Attendance" %>
    <%= f.input :recurrence, as: :text, label: "How often will this meeting recur? (if applicable)", input_html: { rows: "4" } %>
    <%= f.input :notes, as: :text, label: "Additional Information", input_html: { rows: "4" } %>
  <% end %>
  <p>By submitting this request, you have read and hereby agree to the guidelines as outlined above.</p>
  <%= f.actions do %>
    <%= f.action :submit, as: :button, label: "Submit", button_html: {class: 'btn btn-primary'} %>
  <% end %>
<% end %>
