<div class="row">
  <h1 class="sr-only"><%= @page_title %></h1>
  <%= render partial: 'shared/search' %>
  <% if params[:q].present? %>
    <div class="card search-result-type-links">
      <div class="col-md-12">
        <div class="card-body">
          <h2 class="card-title">Results by Type</h2>
          <a href="#articles" data-turbolinks="false" class="card-link">Articles</a>
          <a href="#books" data-turbolinks="false" class="card-link">Books and Media</a>
          <a href="#journals" data-turbolinks="false" class="card-link">Journals</a>
          <a href="#databases" data-turbolinks="false" class="card-link">Databases</a>
          <a href="#website" data-turbolinks="false" class="card-link">JCKL Website</a>
          <a href="<%= "http://ucmo.summon.serialssolutions.com/search?ho=t&l=en&q=#{params[:q]}" %>" data-turbolinks="false" class="card-link">Everything (Summon Search)</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 id="articles">Articles</h2>
      <% @article_results.documents&.first(@result_count).each do |doc|%>
        <div class="search-result article-result">
          <h3><%= link_to doc.title.truncate(100, separator: /\s/).html_safe, doc.link, title: sanitize(doc.title) %></h3>
          <div class="search-result-author">
            <% if doc.authors.present? %>
              <%= doc.authors.map{|author| author.fullname}.join('; ').truncate(50, separator: /\s/) %>
            <% end %>
          </div>
          <div class="search-result-publication-and-date">
            <%= [doc.publication_date.year, "<i>#{doc.publication_title}</i>", "Volume #{doc.volume}", "Issue #{doc.issue}", "Page #{doc.start_page}"].join(', ').html_safe %>
          </div>
          <% if doc.abstract.present? %>
            <p title="<%= sanitize(doc.abstract) %>" class="search-result-description"><%= doc.abstract.gsub('&nbsp;','').sub('...','').squeeze('"').strip.truncate(150, separator: /\s/) %></p>
          <% end %>
        </div>
      <% end %>
      <% if @article_results.documents.blank? %>
        <p class="search-results-none"><i class="fa fa-info-circle"></i>No article results found for <b><%= params[:q] %></b>.</p>
      <% else %>
        <div class="view-more-results"><%= link_to("<i class='fa fa-search'></i> View all #{number_with_delimiter(@article_results.record_count, delimiter: ',')} article results".html_safe, "http://ucmo.summon.serialssolutions.com/#!/search?ho=t&fvf=ContentType,Journal%20Article&l=en&q=#{params[:q]}" ) %></div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2 id="books">Books and Media</h2>
      <% @book_results.documents&.first(@result_count).each do |doc|%>
        <div class="search-result book-result clearfix">
          <% if doc.thumbnail_small.present? %>
            <div class="search-result-thumbnail"><%= link_to(image_tag(doc.thumbnail_small), doc.link) %></div>
          <% end %>
          <h3><%= link_to doc.title.truncate(100, separator: /\s/).html_safe, doc.link, title: sanitize(doc.title) %></h3>
          <div class="search-results-author-and-date">
            <% if doc.publication_date.year.present? %>
              <%= doc.publication_date.year %><%= if doc.authors.present? then "; " end %>
            <% end %>
            <% if doc.authors.present? %>
              <%= doc.authors.map{|author| author.fullname}.join('; ').truncate(50, separator: /\s/) %>
            <% end %>
          </div>
          <% availability = get_book_availability(doc.availability_id) %>
          <% if availability.is_a?(Hash) %>
            <div class="search-result-availability">
              <div class="search-result-status">
                <% if availability['statusMessage'] == 'AVAILABLE' %>
                  <span class="badge badge-success">Available</span>
                <% elsif availability['statusMessage'] == 'LIB USE ONLY' %>
                  <span class="badge badge-warning">In-Library Use Only</span>
                <% else %>
                  <span class="badge badge-danger">Unavailable</span>
                <% end %>
              </div>
              <div class="search-result-location">
                <%= availability['locationString'] %>
              </div>
            </div>
          <% end %>
          <% if doc.abstract.present? %>
            <p title="<%= sanitize(doc.abstract) %>" class="search-result-description"><%= doc.abstract.gsub('&nbsp;','').sub('...','').squeeze('"').strip.truncate(150, separator: /\s/).html_safe %></p>
          <% end %>
        </div>
      <%end%>
      <% if @book_results.documents.blank? %>
        <p class="search-results-none"><i class="fa fa-info-circle"></i>No book or media results found for <b><%= params[:q] %></b>.</p>
      <% else %>
        <div class="view-more-results"><%= link_to("<i class='fa fa-search'></i> View all #{number_with_delimiter(@book_results.record_count, delimiter: ',')} book and media results".html_safe, "http://ucmo.summon.serialssolutions.com/search?ho=t&fvf=ContentType,Book%20%2F%20eBook,f%7CContentType,Streaming%20Video,f%7CContentType,Video%20Recording,f%7CContentType,Audio%20Recording,f%7CContentType,Streaming%20Audio&l=en&q=#{params[:q]}" ) %></div>
      <% end %>
    </div>
    <hr class="divider w-100">
    <div class="col-md-4">
      <h2 id="journals">Journals</h2>
      <% @journal_results.documents&.first(@result_count).each do |doc| %>
        <div class="search-result journal-result">
          <h3><%= link_to doc.title.truncate(150, separator: /\s/).html_safe, doc.link, title: sanitize(doc.title) %></h3>
          <div class="search-results-author-and-date">
            <% if doc.publication_date.year.present? %>
              <%= doc.publication_date.year %><%= if doc.authors.present? then "; " end %>
            <% end %>
            <% if doc.authors.present? %>
              <%= doc.authors.map{|author| author.fullname}.join('; ') %>
            <% end %>
          </div>
          <% if doc.abstract.present? %>
            <p title="<%= sanitize(doc.abstract) %>" class="search-result-description"><%= doc.abstract.gsub('&nbsp;','').sub('...','').squeeze('"').strip.truncate(200, separator: /\s/).html_safe %></p>
          <% end %>
        </div>
      <% end %>
      <% if @journal_results.documents.blank? %>
        <p class="search-results-none"><i class="fa fa-info-circle"></i>No journal results found for <b><%= params[:q] %></b>.</p>
      <% else %>
        <div class="view-more-results"><%= link_to("<i class='fa fa-search'></i> View all #{number_with_delimiter(@journal_results.record_count, delimiter: ',')} journal results".html_safe, "http://ucmo.summon.serialssolutions.com/#!/search?ho=t&fvf=ContentType,Journal%20%2F%20eJournal&l=en&q=#{params[:q]}" ) %></div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2 id="databases">Databases</h2>
      <% @database_results&.first(@result_count).each do |db| %>
        <div class="search-result database-result">
          <h3><%= link_to db[:name], db[:url] %></h3>
          <p><%= db[:description] %></p>
        </div>
      <% end %>
      <% if @database_results.blank? %>
        <p class="search-results-none"><i class="fa fa-info-circle"></i>No database results found for <b><%= params[:q] %></b>.</p>
      <% end %>
      <div class="view-more-results"><%= link_to("<i class='fa fa-search'></i> View more databases".html_safe, "https://library.ucmo.edu/databases" ) %></div>
    </div>
    <div class="col-md-4">
      <h2 id="website">JCKL Website</h2>
      <% @website_results&.first(@result_count).each do |doc| %>
        <div class="search-result website-result">
          <h3><%= link_to doc["title"].truncate(100, separator: /\s/).html_safe, doc["url"].to_s, title: sanitize(doc['title']) %></h3>
          <% if doc['description'] %>
            <p class="search-result-description"><%= doc['description'].html_safe %></p>
          <% end %>
        </div>
      <% end %>
      <% if @website_results.blank? %>
        <p class="search-results-none"><i class="fa fa-info-circle"></i>No web page results found for <b><%= params[:q] %></b>.</p>
      <% else %>
        <div class="view-more-results"><%= link_to("<i class='fa fa-search'></i> View more JCKL web page results".html_safe, "https://www.google.com/#q=site:library.ucmo.edu+#{params[:q]}" ) %></div>
      <% end %>
    </div>
  <% end %>
</div>
