<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item <%= if @current_page == 0 then "disabled" end %>">
      <a class="page-link" href="<%= new_books_url(page: @current_page, subject: @active_subject&.subject_name, range: @active_call_number_range&.id) %>" tabindex="-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <% @pages_to_show.each do |i| %>
      <% if i <= @total_pages %>
        <li class="page-item <%= if @current_page == i then "active" end %>">
          <a class="page-link" href="<%= new_books_url(page: i + 1, subject: @active_subject&.subject_name, range: @active_call_number_range&.id) %>"><%= i + 1 %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item <%= if @current_page >= @total_pages - 1 then "disabled" end %>">
      <a class="page-link" href="<%= new_books_url(page: @current_page + 2, subject: @active_subject&.subject_name, range: @active_call_number_range&.id) %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
