<h1 class="sr-only">James C. Kirkpatrick Library Home Page</h1>

<section class="index-search w-100">

  <div class="search-background-overlay"></div>
  <div class="container">

    <h2 class="sr-only">Search the Library</h2>
    <%= render partial: 'shared/legacy_search' %>
    <div class="search-options card clearfix">
      <div class="card-body">
        <h2 class="card-title">More Ways to Search</h2>
        <a class="card-link" href="http://guides.library.ucmo.edu/az.php">Browse Databases</a>
        <a class="card-link" href="https://ucmo.primo.exlibrisgroup.com/discovery/jsearch?vid=01UCMO_INST%3Ajckl_custom">Journal Directory</a>
        <a class="card-link" href="http://guides.library.ucmo.edu/">Research Guides</a>
        <a class="card-link" href="https://universityofcentralmissourilibrary.account.worldcat.org/profile">Interlibrary Loan</a>
        <a class="card-link" href="https://ucmo.primo.exlibrisgroup.com/discovery/citationlinker?vid=01UCMO_INST%3Ajckl_custom">Known Item Search</a>
        <a class="card-link" href="https://ucmo.primo.exlibrisgroup.com/discovery/account?vid=01UCMO_INST:jckl_custom&section=overview&lang=en">My Library Account</a>
      </div>
    </div>
  </div>
</section>


<section class="index-links w-100">
  <div class="container">
    <div class="card-deck">

      <div class="using-library-block card">
        <h2 class="sr-only">Use the Library</h2>
        <% if LibraryHour.hours_today&.hours_display_text %>
          <div class="card-body text-center">
            <h3 class="card-title"></i>Today's Hours</h3>
            <p class="today-hours-display card-text"><%= LibraryHour.hours_today&.hours_display_text %></p>
          </div>
        <% end %>
        <div class="list-group list-group-flush">
          <a href="<%= library_hours_url %>" class="list-group-item">
            <i class="fa fa-2x fa-calendar"></i>Full Calendar
          </a>
          <a href="http://ucmo.libcal.com/booking/jckl-study-rooms" class="list-group-item">
            <i class="fa fa-2x fa-users"></i>Study Rooms
          </a>

          <a href="https://ucmo.libcal.com/calendar/events" class="list-group-item">
            <i class="fa fa-2x fa-university"></i>Workshops
          </a>
          <!--
          <a href="http://guides.library.ucmo.edu/events" class="list-group-item">
            <i class="fa fa-ticket"></i>Upcoming Events At JCKL
          </a>
          -->
        </div>
      </div>

      <div class="help-block card">
        <h2 class="sr-only">Get Help</h2>
        <div class="card-body text-center">
          <h3 class="card-title">
            <a class="chat-button" href="#" data-turbolinks="false">
              <div class="chat-button-bg1"></div>
              <div class="chat-button-bg2"></div>
              <div class="chat-button-text"><i class="fa fa-comments"></i>Chat Online</div>
            </a>
            <div class="libchat-widget-button" id="libchat_f84b4c05a5033a01d65116d4ae2db4fe"></div><script type="text/javascript" src="//v2.libanswers.com/load_chat.php?hash=f84b4c05a5033a01d65116d4ae2db4fe"></script>
          </h3>
        </div>
        <div class="list-group list-group-flush">
          <a href="tel:660-543-4154" class="list-group-item">
            <i class="fa fa-2x fa-phone"></i>660-543-4154
          </a>
          <a href="sms:660-230-0011" class="list-group-item">
            <i class="fa fa-2x fa-envelope-o"></i>660-230-0011
          </a>

          <a href="https://guides.library.ucmo.edu/employees/liaisons" class="list-group-item">
            <i class="fa fa-2x fa-id-card-o"></i>Subject Specialists
          </a>
        </div>
      </div>

      <div class="news-block card">
        <h2 class="sr-only">JCKL News</h2>

        <div class="card-body text-center">
          <h3 class="card-title"></i>JCKL News</h3>
          <a class="card-link social-media-icon" href="https://www.facebook.com/JCKLibrary" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a class="card-link social-media-icon" href="https://twitter.com/jcklibrary" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="card-link social-media-icon" href="http://instagram.com/jcklibrary" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
          <a class="card-link social-media-icon" href="https://www.youtube.com/user/JCKLibraryUCM" title="YouTube"><i class="fa fa-youtube-play fa-2x"></i></a>
        </div>

        <div class="list-group list-group-flush">
          <% NewsItem.current_news.first(6).each do |news_item| %>
            <%= link_to(news_item_url(friendly_url: news_item.friendly_url || news_item.set_friendly_url), class: 'list-group-item news-item clearfix', id: "news-item-#{news_item.id}") do %>
              <% if news_item.news_image.present? %>
                <%= image_tag(news_item.news_image.url(:medium), alt: news_item.title, class: 'news-image')  %>
              <% end %>
              <h3 class="news-title"><%= news_item.title %></h3>
              <% if news_item.teaser.present? %>
                <p class="news-text"><%= news_item.teaser %></p>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to("More JCKL News", news_items_path, class: 'news-more list-group-item' ) %>
      </div>

    </div>
  </div>
</section>

<style>

  <% if @bg_image == 1 %>
  body{
    background: url(<%= image_url("bg1.jpg") %>) repeat-y center -130px;
  }
  <% elsif @bg_image == 2 %>
  body{
    background: url(<%= image_url("bg2.jpg") %>) repeat-y center -50px;
  }
  .index-new-books{
    opacity: 1 !important;
  }
  <% elsif @bg_image == 3 %>
  body{
    background: url(<%= image_url("bg3.jpg") %>) repeat-y center -550px;
  }
  .index-new-books{
    opacity: 1 !important;
  }
  <% end %>

</style>

<section class="index-new-books w-100">
  <div class="container">
    <div class="inner container">
      <div class="spacer" style="height: 100px;"></div>
    </div>
  </div>
</section>
