<?xml version="1.0" encoding="UTF-8"?>
  <urlset xmlns="http://www.google.com/schemas/sitemap/0.90">
    <url>
      <loc>https://library.ucmo.edu/</loc>
      <lastmod><%= Time.now.strftime( "%Y-%m-%d" ) %></lastmod>
      <changefreq>daily</changefreq>
      <priority>1</priority>
    </url>
    <% NavigationMenuItem.all.order( "label asc" ).each do |item| %>
      <% if item.url %>
        <url>
          <loc><%= item.url %></loc>
        </url>
      <% end %>
    <% end %>
  </urlset>
