<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //for library.ucmo.edu
    var ga_site_id = 'UA-19173945-1';

    //for libguides
    //var ga_site_id = 'UA-19173945-3';

    //for centralspace
    //var ga_site_id = 'UA-19173945-4';

    //for ezproxy
    //var ga_site_id = 'UA-19173945-7';

    //for illiad
    //var ga_site_id = 'UA-19173945-6';

    //for serials solutions
    //var ga_site_id = 'UA-19173945-5';

    //for quest
    //var ga_site_id = 'UA-19173945-2';


    ga('create', ga_site_id, 'auto');

    //remove this block except for on library.ucmo.edu
    var ip = '<%= request.env['REMOTE_ADDR'].gsub( /\.[0-9]{1,3}$/, ".*") %>';
    ga('set', 'dimension1', ip);
    ga('set', 'dimension2', ip);
    ga('set', 'dimension3', ip);
    ga('set', 'dimension5', "<%= cookies[:ip_group] %>");
    ga('set', 'dimension6', "<%= cookies[:testing_group] %>");
    ga('set', 'dimension7', "<%= cookies[:old_homepage] %>");
    //end block

    ga('set', 'dimension4', window.location.host);
    ga('send', 'pageview');
</script>
