<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
<a href="#jckl-search" class="sr-only sr-only-focusable">Skip to search</a>
<header class="header" id="jckl-header">


  <div class="inner <%= if @layout_template == "full_screen" then "container-fluid" else "container" end %>">
    <h2 class="sr-only">Main Navigation Menu</h2>

    <nav class="navbar navbar-expand-md navbar-inverse">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <a class="navbar-brand" href="<%= root_url %>">
        <%= image_tag(asset_url("logo.png", host: "//#{Rails.application.config.host}"), {alt: "James C. Kirkpatrick Library"}) %>
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% cache( NavigationMenuItem.cache_key ) do %>
            <% NavigationMenuItem.roots.each do |menu, i| %>
              <li class="nav-item dropdown">
                <a class="nav-menu-item-<%= menu.id %> nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= menu.label %></a>
                <div class="dropdown-menu <%= if menu.children.length < 3 then 'small-menu' end %>">
                  <% menu.children.order(:position).each do |menu_section| %>
                    <section class="menu-section">
                      <header class="nav-menu-item-<%= menu_section.id %>"><%= menu_section.label %></header>
                      <% menu_section.children.order(:position).each do |nav_link| %>
                        <a class="nav-menu-item-<%= nav_link.id %> dropdown-item" href="<%= nav_link.url %>"><%= nav_link.label.html_safe %></a>
                      <% end %>
                    </section>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

  </div>
</header>
