<%= form_tag('', method: "get", enforce_utf8: false, class: 'search-form legacy-search-form', id: 'jckl-search-box') do %>
  <div class="input-group input-group-lg search-wrapper">
    <div class="dropdown-button-wrapper input-group-btn">
      <button type="button" class="search-type-button btn btn-light dropdown-toggle input-lg" data-toggle="dropdown" value="">Central Search</button>
      <div class="search-type-list dropdown-menu">
        <a class="dropdown-item" href="#" data-value="jckl" data-placeholder="Find books, articles, videos, and more">JCKL Collections</a>
        <a class="dropdown-item" href="#" data-value="worldcat" data-placeholder="">Other Libraries</a>
        <a class="dropdown-item" href="#" data-value="jckl_plus_worldcat" data-placeholder="">JCKL Plus Other Libraries</a>
        <a class="dropdown-item" href="#" data-value="jckl_physical_only" data-placeholder="">JCKL Physical Materials Only</a>
        <!--<a class="dropdown-item" href="#" data-value="website" data-placeholder="">Library Website</a>-->
      </div>
    </div>
    <%= label_tag(:q, "Search", class: 'sr-only') %>
    <%= search_field_tag(:q, params[:q], class: 'search-text-field form-control', placeholder: 'Find books, articles, videos, and more') %>
    <span class="input-group-btn">
      <button class="btn btn-light search-submit-button" type="submit" id="search-submit">&nbsp;<span class="sr-only">Search</span></button>
    </span>
  </div>
<% end %>
