<%= form_tag(search_path, method: "get", enforce_utf8: false, class: 'search-form', id: 'jckl-search-box') do %>
  <div class="input-group input-group-lg search-wrapper">
    <%= label_tag(:q, "Search", class: 'sr-only') %>
    <%= search_field_tag(:q, params[:q], class: 'search-text-field form-control', placeholder: 'Find books, articles, videos, and more') %>
    <span class="input-group-btn">
      <button class="btn btn-light search-submit-button" type="submit" id="search-submit">&nbsp;<span class="sr-only">Search</span></button>
    </span>
  </div>
<% end %>
