<p>The following DVD has been added and needs a TMDB ID:</p>

<h1><%= @dvd.title %></h1>
<table>
  <tr>
    <td class="padded-right">Title:</td>
    <td><%= @dvd.title %></td>
  </tr>
  <tr>
    <td class="padded-right">Item Record ID:</td>
    <td><%= @dvd.item_record_id %></td>
  </tr>
  <tr>
    <td class="padded-right">Call Number:</td>
    <td><%= @dvd.call_number %></td>
  </tr>
  <tr>
    <td class="padded-right">Copyright Date:</td>
    <td><%= @dvd.copyright_date %></td>
  </tr>
  <tr>
    <td class="padded-right">Summary:</td>
    <td><%= @dvd.summary %></td>
  </tr>
  <tr>
    <td class="padded-right">Catalog URL:</td>
    <td><%= @dvd.quest_url %></td>
  </tr>
  <tr>
    <td>Edit:</td>
    <td>https://library.ucmo.edu/admin/dvds/<%= @dvd.id %>/edit</td>
  </tr>

</table>
