<h1><%= @subject_prefix %></h1>

<% if @absence.note_required and @absence.note_received != true and !@absence.destroyed? and !@absence.new_record? %>
  <p><b>A doctor's note is required for this absence.</b></p>
<% end %>

<% if @absence.is_over_personal_leave_limit? && (@absence.is_new || @absence.is_edited)  %>
  <p><b>
    Note: this request puts the employee over the <%= Absence::PERSONAL_HOURS_PER_YEAR %> hour personal leave limit this fiscal year.
    <%= @absence.employee.first_name %> previously used <%= @absence.employee.leave_time_used_between(Chronic.parse('last july 1').to_date, Chronic.parse('last july 1').to_date + 1.year, 'personal', true) %>
    of personal leave and has requested an additional <%= @absence.absence_duration_string %>.
  </b></p>
<% end %>

<% if @absence.is_edited and @absence.times_have_been_altered %>
  <p><b>
    The dates and/or times for this request have changed.
    <% if @absence.was_previously_approved %>
      This request was previously approved and is now pending re-approval due to the changes.
    <% elsif @absence.was_previously_rejected %>
      This request was previously rejected and is now pending approval due to the changes.
    <% end %>
  </b></p>
<% end %>

<% if @absence.is_deleted != true %>
  <p>
    <%= link_to "Edit or Approve This Absence", edit_employee_absence_url(employee_name: @absence.employee.url_slug, id: @absence.id) %>
  </p>
<% end %>

<table>

  <% if @absence.is_new %>
  <tr>
    <td class="padded-right">Time Submitted:</td>
    <td><%= @absence.created_at.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Submitted By:</td>
    <td><%= @absence.submitter&.first_last %></td>
  </tr>
  <% end %>

  <% if @absence.is_edited %>
  <tr>
    <td class="padded-right">Time Edited:</td>
    <td><%= @absence.updated_at.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Edited By:</td>
    <td><%= @absence.editor&.first_last %></td>
  </tr>
  <% end %>

  <% if @absence.approved %>
  <tr>
    <td class="padded-right">Approved by:</td>
    <td><%= @absence.approver&.first_last %></td>
  </tr>
  <% elsif @absence.approved == false %>
  <tr>
    <td class="padded-right">Rejected by:</td>
    <td><%= @absence.approver&.first_last %></td>
  </tr>
  <tr>
    <td>Reason Rejected: </td>
    <td><%= @absence.reject_note %></td>
  </tr>
  <% end %>

  <tr>
    <td class="padded-right">Employee Name:</td>
    <td><%= @absence.employee&.first_last %></td>
  </tr>

  <tr>
    <td class="padded-right">Absence Type:</td>
    <td><%= @absence.absence_type&.display_name %></td>
  </tr>

  <tr>
    <td class="padded-right">Leave Time Used:</td>
    <td>
      <%= @absence.absence_duration_string %>
      <% if @absence.is_edited %>
        (was <%= @absence.original_absence_duration_string %>)
      <% end %>
    </td>
  </tr>

  <tr>
    <td class="padded-right">Professional Funding:</td>
    <td><%= @absence.professional_funding %></td>
  </tr>

  <tr>
    <td class="padded-right">Additional Information:</td>
    <td><%= @absence.background_information %></td>
  </tr>

  <tr>
    <td>Dates and Times</td>
    <td>
      <table>
      <% @absence.absence_dates.each do |d| %>

        <tr>
          <td><%= d.absence_date %>, &nbsp;&nbsp;&nbsp;</td>


          <% original_times = nil %>
          <% if @absence.is_edited %>
            <% if d.start_time != d.original_data&.dig('start_time') || d.end_time != d.original_data&.dig('end_time') || d.is_all_day != d.original_data&.dig('is_all_day') %>
              <% original_times = "(was #{if d.original_data&.dig('is_all_day') == 1 then 'Out All Day' else d.original_data&.dig('start_time')&.strftime("%I:%M %p").to_s + ' to ' + d.original_data&.dig('end_time')&.strftime("%I:%M %p").to_s end} )" %>
            <% end %>
          <% end %>

          <% if d.is_all_day == true || d.is_all_day == 1 %>
            <td>Out all day <%= original_times %>, &nbsp;&nbsp;&nbsp;</td>
          <% else %>
            <td><%= d.start_time.strftime("%I:%M %p") %> to <%= d.end_time.strftime("%I:%M %p") %> <%= original_times %>, &nbsp;&nbsp;&nbsp;</td>
          <% end %>

          <td><%= d.leave_hours_used || 0 %> hours, <%= d.leave_minutes_used || 0 %> minutes</td>

        </tr>
      <% end %>
    </table>
    </td>
  </tr>

</table>
