<h1>Library News</h1>
<ul class="list-group">
  <% @news_items.each do |news_item| %>
    <li class="list-group-item clearfix">
      <div class="col-md-4 news-image">
        <%= image_tag(news_item.news_image.url) %>
      </div>
      <div class="col-md-8">
        <h2 class="news-title"><%= link_to(news_item.title, news_item_url(friendly_url: news_item.friendly_url)) %></h2>
        <p class="news-date"><%= news_item.updated_at.to_date.to_formatted_s(:medium) %></p>
        <p class="news-teaser"><%= news_item.teaser %></p>
      </div>
    </li>
  <% end %>
</ul>
