@import "variables";

.controller_absences {
  .employee-absences-table {
    border-bottom: 1px solid $gray_light;

    .btn-group {
      margin-bottom: 10px;
    }
  }

  .absence-date-range {
    width: 18%;
  }

  .absence-type {
    width: 18%;
  }

  .absence-approvals {
    width: 18%;
  }

  .absence-actions {
    width: 18%;
  }

  .fa-check {
    color: $success;
  }

  .fa-exclamation-triangle {
    color: $warning;
  }

  .fa-times {
    color: $danger;
  }

  .datepicker-row{
    margin-bottom: 30px;
  }

  .datepicker-inline{
    border: 1px solid $line_border;
  }

  .date-change-buttons{
    margin-bottom: 20px;
  }

  .absence-submit-for-subordinate-links{
    margin-bottom: 10px;
  }

  .inputs{
    width: 100%;
  }

  .anytime-time{
    max-width: 200px !important;
  }

  .out-all-day{
    margin-right: 10px;
  }

  h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .absence-time-used-fields input{
    width: 75%;
  }

  .absence-date-form{
    margin-top: 20px;

    label{
      margin-right: 10px;
    }

    input{
      margin-right: 20px;
    }
  }

  .fixed-table-pagination{
    padding-left: 10px;
  }

  #absence-totals-table{
    margin: 40px 0;
  }

  #view-all-absences{
    margin: 40px 0;
  }

}
