@import "variables";

.controller_accounts.action_index,.controller_accounts.action_renew,.controller_accounts.action_modify_holds{

  .formtastic.user{

    .row{
      margin-left: 0;
    }

    .form-label{
      width: 10%
    }

    .form-wrapper{
      width: 90%;
    }
  }

  .checkout, .hold{
    padding: 0;

    &:nth-child(even){
      background-color: $off_white;
    }
  }

  .fine:nth-child(even){
    background-color: $off_white;
  }

  .hold.error{
    background-color: lighten($danger, 5%) !important;
  }

  .checkout label, .hold label{
    display: flex;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    flex-direction: row;
    cursor: pointer;

    > div{
      flex-basis: 45%;
      padding: 10px;
    }

    .checkout-select, .hold-select{
      flex-basis: 10%;

      input{
        position: absolute;
        top: 45%;
      }
    }

    .checkout-renewal-status{
      &.error{
        color: red;
      }

      &.success{
        color: green;
      }
    }

    strong{
      width: 40px;
    }
  }

  .checkout-overdue .checkout-due-date{
    color: red;
  }

  .form-buttons-top, .form-buttons-bottom{
    button{
      cursor: pointer;
    }

    > .btn, > .input-group, > .btn-group{
      margin-right: 20px;
    }
  }


}
