//Styles for the CLF pages
@import "variables";

.clf-shopping-cart-top {
  margin-bottom: 20px;
}

.clf-shopping-cart .clf-book {
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:first-child {
    padding-top: 10px;
  }
}

.controller_clf.action_cart{
  .clf-go-to-cart {
    display: none;
  }

  .clf-continue-browsing{
    @include darkest_blue_button;
  }

  .clf-check-out{
    @include blue_green_button;
  }

  .update-cart{
    @include dark_blue_button;
  }
}


.clf-sidebar-cart {
  h2{
    margin: 0;
    font-size: 1.1rem;
  }

  td{
    padding: 5px 20px;
  }

  .clf-cart-actions{
    text-align: center;
  }

  .clf-check-out {
    display: none;
  }

  .clf-book-title{
    font-style: italic;
  }

  .clf-book-image {
    display: none;
  }

  .col-md-10 {
    width: 100% !important;
  }

  .clf-book-add-to-cart {
    display: none;
  }

  .clf-cart-actions{
    padding: 0 15px;
    .btn{
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .clf-continue-browsing{
    @include blue_green_button;
  }

  .clf-go-to-cart{
    @include darkest_blue_button;
  }
}

.controller_clf.action_browse {
  .row{
    margin-top: 10px;
  }

  .clf-sidebar-cart .clf-continue-browsing {
    display: none;
  }
}

.clf-book-add-to-cart {
  button,
  fieldset,
  input {
    display: inline-block;
  }

  .form-control {
    max-width: 120px !important;
  }

  .add-to-cart.btn{
    @include darkest_blue_button;
  }

  .remove-from-cart.btn{
    @include white_button;
  }
}

.clf-browse {
  position: relative;
  padding: 0 !important;
  margin-top: 30px;

  .authors-toc{
    h2{
      margin: 0;
      font-size: 1.1rem;
    }

    a{
      font-size: 0.9rem;
      padding: 6px 20px;
    }
  }

  .clf-author{
    margin-top: 50px;
  }

  .clf-author-heading{
    margin: 0;
    font-size: 1.3rem;
  }

}


.clf-book {
  padding: 10px 0;

  .clf-book-title{
    margin: 0;
    font-size: 1rem;
  }

  .clf-book-image img {
    max-height: 130px;
    max-width: 100%;
  }

  .clf-book-summary {
    margin-top: 10px;
    overflow: hidden;
  }

  .readmore.btn{
    margin-left: 15px;
    @include white_button;
  }
}
