//Styles for the computer stats page
@import "variables";

.computer-stats .loading {
  display: none;
}

.computer-stats .data-display {

  visibility: hidden;
  height: 100px;
  overflow: hidden;

  .color-key {
    margin-top: 30px;

    .spectrum {
      display: inline-block;
      width: 500px;
      height: 15px;
      background: linear-gradient( to right, #222, #55f, red );
      margin: 0 10px;
    }
  }

  .page-back {
    &:after {
      content: "\f137";
      font-family: "FontAwesome";
      font-size: 100px;
    }
  }

  .page-forward {
    &:after {
      content: "\f138";
      font-family: "FontAwesome";
      font-size: 100px;
    }

    text-align: right;
  }

  .page-back,
  .page-forward {
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      opacity: .4;
    }
  }

  .page-headings {
    text-align: center;
  }
}

.computer-stats .map-wrapper {
  .layer.study-rooms {
    display: none !important;
  }

  .computer {
    display: inline;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

}
