//Styles for DSpace
@import "variables";

html{
  font-size: 16px;
}

.trail-wrapper{
  background-color: transparent;
  border-width: 0;
}

.trail-wrapper .breadcrumb {
  margin-top: 15px;
}

h2 {
  margin: 20 0 10px !important;
}

h2.first-page-header {
  margin: 0 0 30px !important;
}

#ds-search-option {
  margin-bottom: 40px;
}

#ds-search-form .input-group-btn{
  width: auto;
  height: 34px;
}

#ds-search-form .radio {
  display: none;
}

.community-browser-wrapper p {
  margin-bottom: 10px !important;
}


#aspect_viewArtifacts_Navigation_list_browse{
  display: none;
}

.ds-option-set-head.h6{
  display: none;
}

#aspect_discovery_SimpleSearch_list_primary-search{
  .col-sm-3{
    flex: 0 0 33%;
    max-width: 33%;
  }

  .col-sm-9{
    flex: 0 0 58%;
    max-width: 58%;
  }
}

#aspect_discovery_CommunitySearch_field_submit, #aspect_discovery_SimpleSearch_field_submit{
    border-color: $line_border;
    height: 34px;
    min-width: 50px;
}

.ds-paragraph.btn-group .btn-default{
  border-color: $line_border;
}

#sidebar{
  background-color: transparent !important;

  .list-group {
    margin-bottom: 30px;

    .list-group-item{
      padding: 10px 16px;
    }

    .list-group-item.active{
      background-color: $dark_blue;
      color: white;
    }

    .h5.list-group-item-heading{
      margin: 0;
    }
  }
}

#aspect_eperson_LDAPLogin_div_login input {
  margin-bottom: 20px;
}

.footer{
  border-width: 0;
  .footer{
    padding: 0 !important;;
  }

  .container{
    border-width: 0;
    padding: 0;
  }

  .footer-column{
    border-width: 0;
  }
}

.item-page-field-wrapper{
  margin-bottom: 30px !important;
}

#main-container .row-offcanvas{
  background-color: transparent !important;
}

.ds-artifact-item{
  margin-bottom: 25px;
}

.pagination .page-link{
  padding: 0;
  a{
    border-width: 0 !important;
  }
}
