//Styles for the DVD pages
@import "variables";

.controller_dvds.action_index {
  .dvds-navigation .dropdown {
    display: inline-block;
    margin-right: 5px;
  }

  .results-count{
    margin: 10px 0;
  }

  p {
    margin-top: 20px;
  }

  .dvd-title-filter {
    display: inline-block;
    max-width: 400px;
    vertical-align: middle;
  }

  .pagination{
    padding: 0;
  }

  .dvd-image img {
    max-width: 100%;
  }

  .dvd-title .badge {
    margin-left: 10px;
  }

  .dvd-genres {
    margin: 8px 0 10px;

    .tag {
      background-color: $darkest_blue;
    }
  }

  .dvd-language,
  .dvd-runtime,
  .dvd-year {
    margin-right: 8px;
  }

  .dvd-rating {
    margin-top: 10px;

    .fa {
      color: darkred;
    }
  }

  .dvd-summary {
    margin-top: 10px;
  }
}
