@import "variables";

#jckl-footer {
  clear: both;
  padding: 60px 0;
  background-color: black;
  color: white;
  font-size: 1rem;

  @include all_small_screens {
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    color: white;

    &:hover {
      color: $gray_light;
    }
  }
}

#jckl-footer .footer-column {
  h3,
  h3 > a {
    color: #d4b76d;
    font-size: 1.3rem;

    &:not([href]):hover {
      text-decoration: none;
    }
  }

  ul {
    padding: 0;

    li {
      margin-bottom: 8px;
      list-style-type: none;
      list-style-image: none;

      a {
        padding-left: 0;

        &:hover {
          background-color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}

#jckl-footer .footer-bottom {
  margin-top: 30px;
  padding-top: 50px;
  border-top: 1px solid $charcoal;

  div {
    margin-bottom: 8px;

    span {
      margin: 0 4px;
    }
  }
}
