@import "variables";

#jckl-header {
  padding: 0;
  background-color: black;

  .inner {
    position: relative;
    padding: 0;
  }

  .navbar{
    background-color: transparent;
    margin: 0;
  }

  @include full_screen{
    .navbar{
      align-items: flex-end;
      min-height: 95px;
      padding: 0;
    }
  }

  .navbar-brand{
    float: none;
    height: auto;
    padding: .25rem 0;
  }

  .navbar-brand img{
    max-height: 90px;
    height: auto;
  }

  .navbar-toggler{
    top: 40px;
    padding: 5px 7px;
    border: 3px solid $gray_medium;
    color: $gray_medium;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .ucm-links-standalone {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 8px 8px;
    background-color: $gray_medium_dark;

    .dropdown-toggle {
      color: white;
      background-color: transparent;
      border-width: 0;
      font-size: .75rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .dropdown-menu {
      width: 100%;
      padding: 15px;
    }

  }

  .navbar-nav .nav-item.dropdown > a{
    color: white;
    &:hover{
      color: $gray_medium;
    }
  }

  @include full_screen{
    .ucm-links-submenu{
      display: none;
    }

    .navbar-nav > .nav-item{
      position: static;
      padding: 0;

      .dropdown-toggle{
        text-decoration: none;
      }

      &.show .dropdown-toggle, &.open .dropdown-toggle{
        color: $gray_dark !important;
        background-color: $off_white;
      }

      > a{
        padding: 8px 30px;
      }
    }


    .nav-link {
      padding: 10px 30px;
      display: block;
      color: white;
      font-size: 1.05rem;
    }

    .navbar .dropdown-menu {
      position: absolute;
      max-height: 450px;
      left: 425px;
      right: 0;
      top: 90px;
      padding: 20px;
      flex-direction: column;
      flex-wrap: wrap;
      border-radius: 0;
      border-top: 0;
      box-shadow: 0 8px 12px 0 rgba(0,0,0,0.175);
      background-color: $off_white;
      overflow: visible;
      overflow-x: scroll;
      line-height: 1.5;

      &.small-menu{
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .nav-item.dropdown.show .dropdown-menu, .nav-item.dropdown.open .dropdown-menu{
      display: flex;
    }

    .menu-section {
      display: inline-block;
      column-span: none;
    }

    .menu-section header {
      margin: 10px 20px 10px 0;
      padding-bottom: 4px;
      padding-left: 8px;
      border-bottom: 1px solid $line_border;
      color: $text_color;
      font-size: .9rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    .dropdown-item {
      padding: 0 0 0 8px;
      margin-bottom: 8px;
      background-color: transparent !important;
      color: $gray_dark;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  @include all_small_screens{
    .ucm-links-standalone{
      display: none;
    }

    .dropdown-menu{
      background-color: $charcoal;
      color: white !important;

      a{
        color: white !important;
      }

      a:hover{
        background-color: lighten($charcoal, 5%);
      }

      header{
        margin: 10px 0;
        padding-left: 10px;
        font-size: 1.2rem;
      }

      .menu-section:first-child header{
        margin-top: 0;
      }
    }
  }
}
