@import "variables";

.controller_hours.action_index {
  .past-date td {
    color: $gray_medium;
  }

  .today td {
    font-weight: bold;
  }

  thead:first-child th {
    border-top: none;
  }

  .view-more-weeks {
    @include dark_blue_button;
    display: block;
  }
}
