@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/buttons";

.controller_index.action_index {

  .content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-fluid{
    padding: 0;
  }

  .index-search {
    position: relative;
    padding: 70px 0;

    .legacy-homepage-toggle{
      position: absolute;
      right: 20px;
      top: 10px;
      padding: 5px 10px;
      border-radius: $border_radius;
      background-color: $charcoal;
      opacity: .9;

      a{
        color: white;
        text-decoration: none !important;
      }
    }

    .search-options {
      display: inline-block;
      position: relative;
      margin-top: 15px;
      opacity: .8;
      background-color: $charcoal;
      color: white;
      border-radius: $border_radius;
      border: 1px solid black;

      @include all_small_screens {
        display: block;
      }

      @include mid_screen{
        display: block;
      }

      .card-body {
        padding: 10px 25px;
      }

      .card-title {
        font-size: 1.3rem;
        margin-top: 10px;
        @include not_small_screen {
          display: none;
        }
      }

      .card-link {
        color: white;
        font-size: .9rem;
        @include all_small_screens {
          display: block;
          margin: 0 0 10px 0;
        }

        @include mid_screen{
          display: block;
          margin: 0 0 10px 0;
        }

        &:hover {
          color: darken(white, 20%);
        }
      }
    }
  }

  .index-links {
    padding: 40px 0;
    background-color: $dark_blue;
    opacity: 0.85;

    .card-deck{
      @include all_small_screens {
        display: block !important;
      }

      @include mid_screen {
        display: block !important;
      }
    }

    .card{
      background: none;
      border: none;
      color: white;


      a{
        color: white;
      }

      @include all_small_screens {
        margin-bottom: 60px;
      }

      @include mid_screen {
        margin-bottom: 60px;
      }
    }

    .card-body{
      height: 100px;
      padding-top: 0;
      padding-bottom: 10px;
      flex: none;

      h3{
        margin-top: 0;
      }
    }

    .today-hours-display{
      font-size: 1.4rem;
    }

    .social-media-icon .fa{
      font-size: 2.5rem;
    }

    .card-header{
      background: none;
      border: none;
    }

    .card-header h2 {
      margin: 0;
      font-size: 1.3rem;
    }

    .list-group-item{
      padding: 15px 10px;
      background: none;

      .fa {
        width: 20px;
        margin-right: 40px;
      }

      .fa-map-marker{
        padding-left: 7px;
      }
    }

    a.list-group-item:hover{
      background-color: darken($dark_blue, 10%);
    }

    .libchat-widget-button {
      display: none !important;
    }

    .chat-button {
      display: block;
      margin: auto;
      position: relative;
      width: 80%;
      text-align: center;

      .chat-button-bg1 {
        position: absolute;
        transform: skew(-15deg);
        background-color: $charcoal;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
      }

      .chat-button-bg2 {
        position: absolute;
        transform: skew(15deg);
        background-color: $ucm_red;
        width: 100%;
        top: 6px;
        bottom: 6px;
        z-index: 1;
      }

      .chat-button-text {
        position: relative;
        z-index: 100;
        display: inline-block;
        padding: 20px 0;
        color: white;
      }

    }

    .btn .fa,
    .chat-button .fa {
      margin-right: 10px;
    }

    .news-item {
      display: block;
      flex: none;
      padding: 10px;
    }

    .news-image {
      float: right;
      margin-left: 20px;
      max-width: 35%;
    }

    .news-title {
      margin-top: 0;
      font-size: 1.1rem;
    }

    .news-text {
      font-size: .9rem;
    }

    .news-block .list-group {
      max-height: 220px;
      flex: none;
      overflow-y: scroll;
    }

    .news-more {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .help-block{
      border: 2px solid rgba(0,0,0,0.125);
      border-top: none;
      border-bottom: none;

      @include all_small_screens{
        border-width: 0;
      }

      .list-group{
        padding: 0 25px;
      }
    }

  }



  .index-new-books {
    background-color: $blue_green;
    padding: 40px 0;
    opacity: 0.9;

    h2 {
      margin-bottom: 30px;
      margin-top: 0;
      color: white;
    }

    .new-books-slider{
      position: relative;

      .new-book img{
        max-width: 150px;
      }

      .owl-nav{

        .owl-prev, .owl-next{
          position: absolute;
          height: 50px;
          width: 50px;
          top: 30%;
          border-radius: 50px;
          opacity: 0.5;
          background: none;

          &:hover{
            opacity: 0.75;
          }
        }

        .owl-prev{
          left: -100px;
        }

        .owl-next{
          right: -100px;
        }
      }

      .owl-dot{
        opacity: 0.5;

        &.active, &:hover{
          opacity: 0.9;
        }

        span{
          background: white;
        }
      }
    }

    .new-books-view-more {
      display: block;
      margin: 20px auto auto;
      width: 300px;
      background-color: darken($blue_green, 8%);
      border: none;
      color: white !important;
      &.active,
      &:focus,
      &:hover {
        background-color: darken($blue_green, 13%);
      }
    }

  }

  // LEGACY STUFF
  .index-search.old{
    padding: 60px 0 40px 0;
    background: $charcoal image-url("search-bg.gif") left bottom repeat;
    .search-background-overlay {
      background-color: black;
    }
  }

  .hero-button{
    text-align: center;
    padding: 20px 0;
    background-color: $charcoal;
    color: white;
    font-size: 1.75rem;
    .btn, button{
        position: relative;
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 1.25rem !important;
    }
  }

  .front-page-row-1{
    padding: 40px 0;
    background-color: darken($gray_light, 10%);

    .card{
      background-color: lighten($gray_light, 5%);
      border-radius: $border_radius;
      padding: 15px;

      .card-body{
        flex: initial;
        padding: 0;
      }

      h2{
        font-size: 1.3rem;
        font-weight: normal;
        margin: 0 0 20px 0;
        .fa{
          margin-right: 10px;
        }
      }

      .list-group-item{
        margin-bottom: 0.5rem;
        color: $text_color;

        .badge{
          padding: 3px 7px;
          border-radius: $border_radius;
          background-color: $darkest_blue;
        }
      }

      a, a:hover{
        color: $text_color;
      }

      a:hover{
        text-decoration: underline !important;
      }

      .list-group, .list-group-item{
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
      }

      .list-group-item{
        .fa{
          margin-right: 10px;
          width: 20px;
        }

        .fa-mobile, .fa-unlock-alt{
          font-size: 1.5rem;
        }

        .fa-book, .fa-users, .fa-laptop, .fa-printer{
          font-size: 1.125rem;
        }

      }
    }
  }

  .front-page-row-2{
    padding: 60px 0;
    background-color: $red;
    border-bottom: 20px solid darken($red, 10%);
    .news-item{
      color: white;

      img{
        max-width: 100%;
        max-height: 250px;
      }

      .news-image a {
        outline: 6px solid darken($red, 10%);
      }

      h2{
        margin: 0 0 10px 0;
      }

      .btn {
        margin-top: 20px;
        border: none;
        background-color: lighten($red,15%);
        color: white !important;
        font-weight: bold;

        &:hover {
          background-color: lighten($red,20%);
        }

        a {
          color: white !important;
        }
      }
    }

    .owl-prev, .owl-next{
      position: absolute;
      top: 40%;
      background-color: transparent;
    }

    .owl-prev{
      left: -35px;
    }

    .owl-next{
      right: -35px;
    }

    .social-media-icons{
      margin-top: 40px;
      padding-top: 15px;
      text-align: center;
      border-top: 1px solid darken($red, 3%);

      a{
        color: white;
        margin-right: 15px;
      }
    }
  }

  .index-new-books.old{
    background-color: $charcoal;

    h2 {
      font-size: 1.6rem;
      color: white;
    }

    .new-books-view-more,
    .new-books-view-more.active,
    .new-books-view-more:focus,
    .new-books-view-more:hover {
      background-color: lighten($charcoal, 18%);
      border: none;
      color: white !important;

      a,
      a:hover {
        color: white !important;
      }
    }

    .new-books-view-more:focus,
    .new-books-view-more:hover {
      background-color: lighten($charcoal, 13%);
    }

    border-bottom: 20px solid darken($charcoal, 3%);
  }
}
