//Layout styles specific to Springshare products
@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "global";


#jckl-header{
  @import "bootstrap/navbar";
  @import "bootstrap/dropdown";
  @import "bootstrap/utilities/flex";
  .navbar-nav > .nav-item > .nav-link{
    padding: 8px 30px;
  }

  .ucm-links-standalone.open .dropdown-menu{
    display: block;
  }
}


// LibGuides

html, body, #s-lg-guide-body{
  font-size: 16px !important;
  padding: 0;
}


// TOP
#s-lg-public-skiplink{
  position: absolute;
  height: 0;
}

#s-lib-admin-bc .breadcrumb, #s-lib-bc .breadcrumb{
  margin: 10px 0;
}

#s-lg-guide-header-info{
  margin-bottom: 10px;
  padding: 8px 0;
  border: 1px solid $line_border_light;
  border-left: 0;
  border-right: 0;
}

#s-lg-guide-header-info h1, .s-lib-header h1{
  padding: 0;
  font-size: 1.6rem;
}

#s-lg-guide-search-form{
  display: none;
}

#guide-nav-heading{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: $gray_medium_dark;
  padding-left:10px;
}

.libguides-edit-mode{
  .s-lib-cmd-bar{
    font-size: 12px;
  }
  #s-lg-guide-header{
    margin-top: 40px;
  }
}


// SIDEBAR
#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-tabs > li > button, #s-lg-tabs-container .nav-pills > li > a, #s-lg-tabs-container .nav-pills > li > button{
  padding: 8px 16px;
  margin-bottom: 10px;
  background-color: transparent;
  font-weight: normal;
  box-shadow: 3px 3px $line_border, 3px -2px #fafafa;;
  border-radius: 0px 10px 10px 0;
  color: $gray_dark;

  &:hover{
    background-color: transparent !important;
    color: $gray_dark !important;
    box-shadow: 3px 3px $ucm_red, 3px -2px #fafafa;;
    border-radius: 0px 10px 10px 0;
  }
}

#s-lg-tabs-container .nav-tabs > .active > a,
#s-lg-tabs-container .nav-tabs > .active > button,
#s-lg-tabs-container .nav-pills > .active > a,
#s-lg-tabs-container .nav-pills > .active > button {
  background-color: transparent;
  color: $gray_dark;
  box-shadow: 3px 3px $ucm_red, 3px -2px #fafafa;;
  border-radius: 0px 10px 10px 0;
}

#s-lg-guide-tabs > .nav > li:only-child > a{
  display: none;
}

#s-lg-guide-tabs{
  .s-lg-boxnav{
    margin: 0;

    .list-group-item{
      background-color: transparent;
      padding: 0;
      margin: 0 0 10px 0;
      border: 0;


      &:only-child{
        display: none;
      }

      &:last-child{
        margin-bottom: 10px;
      }

      a{
        display: block;
        padding: 8px 16px;
        margin-left: 20px;
        text-decoration: none !important;
        border-radius: 0px 10px 10px 0;
        box-shadow: 3px 3px $line_border, 3px -2px #fafafa;

        &:hover{
          box-shadow: 3px 3px $darkest_blue, 3px -2px #fafafa;;
        }
      }
    }
  }

  .nav > li:only-child .list-group-item a{
    margin-left: 0 !important;
  }

  .s-lib-profile-box{
    background-color: $off_white;
    border-radius: 16px;
    box-shadow: 5px 5px $line_border;

    .s-lib-box-title{
      background-color: transparent;
      text-align: center;
    }

    .s-lib-box-content{
      padding: 20px;
    }

    .s-lib-profile-subjects{
      font-size: 0; //gets rid of annoying commas
      a{
        display: block;
        position: relative;
        padding-left: 10px;
        font-size: 0.9rem;
        &:before{
          content: "\2022";
          position: absolute;
          left: 0;
        }
      }
      strong{
        display: block;
        font-size: 1rem;
      }
    }
  }
}


// CONTENT
#s-lg-guide-main{
  #page-title{
    margin-top: 0;
    font-size: 2.5rem;
  }

  h2, .s-lib-box-title{
    padding: 0;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: normal;
    color: $gray_dark;
    background-color: transparent;
  }

  h3{
    margin: 0;
  }

  h4{
    font-size: 1.25rem;
    font-weight: bold;
    color: #888;
  }

  h5{
    font-size: 1rem;
    font-weight: bold;
    color: #888;
  }

  .s-lib-box{
    margin: 0 0 10px 0;
  }

  .s-lib-box-content{
    padding: 0;
  }

  .s-lg-box-footer{
    background-color: transparent;
    border-bottom: 1px dashed #ccc;
    border-top: 0;
    margin-bottom: 20px;
  }

  ul, .s-lg-link-list{
    padding-left: 30px;

    li{
      padding: 0;
      margin-bottom: 5px;
    }
  }

  .s-lg-link-list-2{
    a:after{
      margin-left: 10px;
      font-family: "FontAwesome";
      content: "\f0c1";
    }
  }

  .s-lg-link-list-10{
    a:after{
      margin-left: 10px;
      font-family: "FontAwesome";
      content: "\f1c0";
    }
  }

  .s-lg-link-list-5{
    padding: 0;
    li{
      margin-bottom: 15px;
    }
    a:after{
      margin-left: 10px;
      font-family: "FontAwesome";
      content: "\f02d";
    }
  }

  p{
    margin-bottom: 15px;
  }
}


// BOTTOM
#s-lib-footer-public{
  background-color: transparent;
  margin-top: 20px;
}


// MISC
@include all_small_screens {
  #s-lg-guide-header, #s-lg-side-nav-content{
    padding: 0 10px;
  }
}

#col-types, #col-vendors{
  display: none;
}


//LibCal

body.s-lc-public {
  .lc_rm_b {
    background-color: #777;
  }

  .lc_rm_u {
    background-image: image-url("libcal_bg_texture.png");
    background-repeat: repeat;
  }
  @include all_small_screens {
    .s-lc-rm-rn {
      width: 130px !important;
    }
  }
}
