@import "variables";

.jckl-svg-map {
  .floor.hidden {
    display: none !important;
  }

  .floor > g {
    display: inline !important;
  }

  .animating {
    fill: yellow !important;
    fill-opacity: .2 !important;
    stroke-width: 5 !important;
    stroke-opacity: .5 !important;
    stroke: orange !important;
  }

  .room {
    opacity: 0;
  }

  .computer {
    &.available {
      fill: #00bf00 !important;
      stroke: #009900 !important;
      opacity: .85 !important;
    }

    &.unavailable {
      fill: #ff0000;
      stroke: #800000;
      opacity: .6;
    }
  }

  .location{
    display: none !important;
  }
}

.controller_map.action_index {
  .map-info {
    margin-bottom: 20px;
  }

  .map-info .tab-content {
    padding: 20px;
    border-bottom: 1px solid $line_border;
  }

  .map-info .room-not-found {
    display: none;
    margin-top: 10px;
  }

  .map-info .computer-availability .badge {
    margin-left: 10px;
    padding: 5px 8px;
    background-color: $darkest_blue;
  }

  .floor-select .card-body {
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
    background-color: $gray_medium_dark;
    color: white;

    h2 {
      margin: 0;
      font-size: 1rem;
    }
  }

  .floor-select .floor-toggle{
    display: inline-block;
  }

  .reserve-study-room {
    @include red_button;
    margin-right: 10px;
    font-size: 1rem;
  }

  .floor-select {
    position: absolute;
    right: 0;
    top: 350px;
    width: 80px;
    opacity: .9;
    text-align: center;
  }
}
