@import "variables";

.room-bookings-availability-filter {
  margin-bottom: 20px;
  padding: 10px;
  @extend %shadow_outline;

  label {
    margin-right: 10px;
  }

  .form-control {
    margin-right: 20px;
  }

  .btn{
    margin-right: 10px;
  }
}

.room-bookings-availability-message {
  margin-top: 10px;
}

.room-bookings-room-list {

  .room{
    align-items: flex-start;
  }

  .room-booking-info{
    //padding-left: 0;
  }

  .fa-check-square{
    color: green;
  }

  .fa-times-rectangle{
    color: darken(red, 20%);
  }


  .fa-exclamation-triangle {
    color: darken(yellow, 10%);
  }

  .room > .row:first-child {
    margin-bottom: 20px;
  }

  .room-description {
    margin-bottom: 10px;
  }

  .room-image {
    max-width: 100%;
    max-height: 300px;
  }

  .room-booking-buttons .btn {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: white;

    &.room-calendar-link {
      @include darkest_blue_button;
      cursor: pointer;
    }

    &.room-map {
      @include dark_blue_button;
    }

    &.room-book {
      @include blue_green_button;
    }
  }

}

.room-bookings-calendar-modal {
  .modal-dialog {
    max-width: 1170px;
    width: 100%;
  }

  h4 {
    color: $text_color;
  }
}

.room-bookings-iframe {
  width: 100%;
  height: 600px;
}
