@import "variables";

.controller_news_items {
  &.action_show .news-image {
    margin: 20px 10px;
  }

  &.action_index{
    .news-title {
      margin-top: 10px;
    }

    .news-image img{
      max-width: 100%;
    }
  }
}
