@import "variables";
@media print {
  #jckl-footer,
  #jckl-header,
  .chat-popout,
  .search,
  .sidebar {
    display: none !important;
  }

  .content {
    padding: 0;

    .inner {
      width: 100%;
      padding: 0;
    }
  }

  .room-schedules {
    .room-schedules-daily-filters,
    h1 {
      display: none;
    }

    .room-schedules-daily-calendars {
      margin: 0;
    }
  }

  .library-hours-show-more {
    display: none;
  }
}
