/*
    Styling for the search bar element
*/
@import "variables";

#jckl-search-box {

  flex: 0 0 100%;

  .search-wrapper {
    clear: both;
    position: relative;
    border-radius: $border_radius;
    box-shadow: 0 0 2px 2px $ucm_red;
  }

  .dropdown-button-wrapper{
    border-radius: $border_radius 0 0 $border_radius;
  }

  .search-type-button{
    height: 50px;
    background-color: white;
    border-width: 0;
  }

  .search-submit-button,
  .search-text-field {
    height: 50px;
    border: none;
    outline: none;
  }

  .search-text-field {
    //border-radius: $border_radius 0 0 $border_radius;
    border-left: 1px solid $line_border;
  }

  .search-submit-button {
    width: 50px;
    background-color: $ucm_red !important;
    color: white !important;

    &:hover {
      background-color: darken($ucm_red, 2%);
    }

    &:after {
      content: "\f002";
      font-family: "FontAwesome";
      font-size: 1.8rem;
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
    }
  }
}

.controller_search.action_index {

  h2{
    margin-top: 15px;
    font-size: 1.4rem;
  }

  .search-result-type-links {
    margin: 20px 0;
    flex: 0 0 100%;

    .card-body{
      padding: 12px;
    }

    h2 {
      display: inline-block;
      margin: 0 20px 0 0;
      font-size: 1.1rem;
    }

  }

  .search-result {
    font-size: .9rem;

    h3 {
      font-size: 1rem;
      line-height: 1.8rem;
      margin: 10px 0 0 0;
    }

    .search-result-description {
      margin-top: 10px;
    }

    .search-result-location,
    .search-result-status {
      display: inline-block;
      margin-right: 10px;

    }

    .search-result-thumbnail {
      float: right;
      margin-left: 10px;
    }
  }

  .search-results-none {
    margin-top: 20px;

    .fa {
      margin-right: 10px;
    }
  }

  .divider {
    margin: 40px 0 10px;
  }

  .view-more-results {
    margin-top: 20px;
  }

}
