// Styles for Serials Solutions journal portal site
@import "variables";

html{
  font-size: 16px;
}

#footer{
  position: relative !important;
}

body > .container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-page-header{
  display: none;
}

.form-inline{
  > *{
    margin-right: 20px;
  }

  input{
    height: 38px;
  }

  .btn-default{
    border-color: $line_border;
  }
}

#mobile-main-page{
  .row-fluid.section-no-border{
    h1, h2{
      font-size: 1rem;
    }
  }

  .custom-links-rectangle{
    h3{
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 1rem;
    }
  }
}

#mobile-action-page{
  .row-fluid.section-no-border{
    font-size: 0.9rem;
    padding: 0;
  }
}

.mobile-footer #jckl-footer ul{
  margin-left: 0;
}

.mobile-header #jckl-header{
    .navbar-nav{
      display: none;
    }

    .ucm-links-standalone{
      display: none;
    }
}

.a-to-z-list li{
  padding: 0;
  a{
      padding: 6px;
  }
}
