@import "variables";

.controller_special_collections {

  .content{
    padding: 0 0 40px 0;
  }

  .container-fluid{
    padding: 0;
  }

  .spc-top-tabs{
    padding-top: 50px;
    background-color: $dark_blue;

    .nav-tabs{
      border-width: 0;
    }

    .nav-link{
      color: white;

      &.active{
        color: $text_color;
      }
    }
  }

  #jckl-breadcrumb{
    margin-top: 20px;
  }

  .card-img-top{
    max-width: 100%;
  }

}
