@import "variables";

.headcount-form {
  .inputs {
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .btn {
    @include darkest_blue_button;
  }
}

.headcount-entry-table {

  width: 100%;

  th {
    padding: 5px;
  }

  td {
    padding: 5px;

    input {
      width: 70px;
    }
  }

}

.chart-area {
  .highcharts-chart {
    height: 600px;
    padding: 15px;
  }

  &.dashboard-chart-area .highcharts-chart {
    height: 400px;
  }

  .dashboard-chart-details-link {
    margin-top: 15px;
    padding-top: 10px;
  }

  .loading {
    display: none;
  }

  .highcharts-loading-inner{
    font-size: 2rem;
  }

  .card{
    margin-top: 10px;
  }

  .card-header{
    padding: 0;

    h3{
      padding: 0;
      margin: 0;
      font-size: 1.2rem;

      a{
        display: block;
        padding: 15px;
        text-decoration: none !important;
      }
    }
  }
}

.dashboard-nav ul{
  padding: 0;
}

.chart-map{
  .map-data-pagination{
    width: 800px;
    margin: auto;
    margin-bottom: 15px;

    .previous-time-period, .next-time-period{
      color: $darkest_blue;
      cursor: pointer;
      user-select: none;
    }

    .previous-time-period{
    }

    .next-time-period{
    }

    .map-time-period{
      width: 350px;
    }

  }

  .map-color-scale{
    margin-top: 10px;
    background-color: #333;
    height: 30px;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;


    .map-color-scale-start{
      position: absolute;
      top: 30px;
      left: 0;
    }

    .map-color-scale-midpoint{
      position: absolute;
      top: 30px;
      left: 390px;
    }

    .map-color-scale-end{
      position: absolute;
      top: 30px;
      right: 0;
    }
  }

  .jckl-svg-map{
    max-width: 810px;
    margin: auto;

    .location.active{
      display: inline !important;
      stroke: none !important;

      rect, path{
        stroke: none !important;
        fill: inherit !important;
      }
    }

    .computer{
      display: none !important;
    }
  }
}
