/*
    Styling for misc tools
*/
@import "variables";

.controller_tools.action_callnumber_parser{

  .box-shadow{
    padding: 20px;
  }

  h2{
    margin-top: 0;
  }

  #callnumbers-input{
    display: block;
    width: 100%;
    height: 200px;
  }
}
