@import "bootstrap/functions";
@import "bootstrap/variables";

//Define colors
$text_color: #5A524D;
$light_text_color: lighten($text_color, 15%);

$charcoal: #2c2d31;
$gray_light: #e2e2e2;
$gray_medium: #aaa;
$gray_medium_dark: #555;
$gray_dark: #333;
$off_white: #f8f8f8;
$alternating_off_white: #fcfcfc;

$line_border: #ccc;
$line_border_light: #ddd;
$border_radius: 8px;

$ucm_red: #c81f25;
$red: #c0392b;
$blue: #2980b9;
$dark_blue: #046792;
$darkest_blue: #34495e;
$blue_green: #16a085;
$green: #27ae60;
$purple: #9b59b6;

$success: #5cb85c;
$danger: #d9534f;
$warning: #f0ad4e;

//Misc variables
$content_min_height: 750px;

//Override bootstrap defaults
$btn-primary-bg: $darkest_blue;

//Color mixins
@mixin red_button {
  padding: 6px 12px;
  color: white;
  background-color: $ucm_red;
  font-size: 1.125rem;
  border-color: $ucm_red;

  &:hover {
    background-color: darken($ucm_red, 10%);
  }
}
@mixin darkest_blue_button {
  padding: 6px 12px;
  color: white;
  background-color: $darkest_blue;
  font-size: 1.125rem;

  &:hover {
    background-color: lighten($darkest_blue, 5%);
  }
}
@mixin dark_blue_button {
  padding: 6px 12px;
  color: white;
  background-color: $dark_blue;
  font-size: 1.125rem;

  &:hover {
    background-color: lighten($dark_blue, 5%);
  }
}
@mixin blue_green_button {
  padding: 6px 12px;
  color: white;
  background-color: $blue_green;
  font-size: 1.125rem;

  &:hover {
    background-color: lighten($blue_green, 5%);
  }
}
@mixin white_button{
  padding: 6px 12px;
  color: $text_color;
  background-color: white;
  font-size: 1.125rem;

  &:hover {
    background-color: #eee;
  }
}

//Some shortcut mixins for quick media queries
@mixin full_screen {
   @media screen and (min-width: map-get($container-max-widths, lg)){
    @content;
  }
}

@mixin mid_screen {
   @media screen and (min-width: map-get($container-max-widths, md)) and (max-width: map-get($container-max-widths, lg) - 1px){
    @content;
  }
}
@mixin not_small_screen {
   @media screen and (min-width: map-get($container-max-widths, md)){
    @content;
  }
}
@mixin all_small_screens {
   @media screen and (max-width: map-get($container-max-widths, md) - 1px){
    @content;
  }
}
@mixin small_screen {
   @media screen and (min-width: map-get($container-max-widths, sm)) and (max-width: map-get($container-max-widths, md) - 1px){
    @content;
  }
}
@mixin very_small_screen {
   @media screen and (max-width: map-get($container-max-widths, sm) - 1px){
    @content;
  }
}

%shadow_outline {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
