<h1>Room Booking Request Submitted</h1>
<table>
  <tr>
    <td class="padded-right">Time Submitted:</td>
    <td><%= Time.zone.now.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Requestor Name:</td>
    <td><%= @booking.requestor_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Requestor Email:</td>
    <td><%= @booking.requestor_email %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Name:</td>
    <td><%= @booking.contact_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Email:</td>
    <td><%= @booking.contact_email %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Phone Number:</td>
    <td><%= @booking.contact_phone %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Address:</td>
    <td><%= @booking.contact_address %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Department:</td>
    <td><%= @booking.contact_dept %></td>
  </tr>
  <tr>
    <td class="padded-right">Event Title:</td>
    <td><%= @booking.event_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Room:</td>
    <td><%= @booking.meeting_room.display_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Booking Start Time:</td>
    <td><%= @booking.start_time.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Booking End Time:</td>
    <td><%= @booking.end_time.to_formatted_s(:long_12hr) %></td>
  </tr>
  <tr>
    <td class="padded-right">Setup Time:</td>
    <td><%= @booking.setup_time %></td>
  </tr>
  <tr>
    <td class="padded-right">Takedown Time:</td>
    <td><%= @booking.takedown_time %></td>
  </tr>
  <tr>
    <td class="padded-right">Estimated Attendance:</td>
    <td><%= @booking.attendance %></td>
  </tr>
  <tr>
    <td class="padded-right">Recurrence:</td>
    <td><%= @booking.recurrence %></td>
  </tr>
  <tr>
    <td class="padded-right">Additional Information:</td>
    <td><%= @booking.notes %></td>
  </tr>
</table>
