<h1><%= @page_title %></h1>
<p>You are not authorized to view the requested page or perform the requested action.</p>
<ul>
  <% if user_signed_in? %>
    <li><%= link_to("Log out and in again", destroy_user_session_url) %></li>
  <% else %>
    <li><%= link_to("Log in", new_user_session_url) %></li>
  <% end %>
</ul>
