<div class="clf-shopping-cart-top">
  <table class="table table-sm">
    <tr>
      <td>Number of Books</td>
      <td class="clf-cart-number-of-books"><%= @order.book_count %></td>
    </tr>
    <tr>
      <td>Subtotal</td>
      <td class="clf-cart-subtotal">$<%= number_with_precision( @order.subtotal, :precision => 2 ) %></td>
    </tr>
    <tr>
      <td>Tax (<%= @order.tax_rate  %>%)</td>
      <td class="clf-cart-tax">$<%= number_with_precision( @order.tax, :precision => 2 ) %></td>
    </tr>
    <tr class="clf-cart-total-row">
      <td>Total</td>
      <td class="clf-cart-total">$<%= number_with_precision( @order.total, :precision => 2 ) %></td>
    </tr>
  </table>
  <div class="clf-cart-actions">
    <%= link_to "Continue browsing", clf_browse_url, { :class => "clf-continue-browsing btn btn-secondary" } %>
    <%= link_to "Review cart and check out", clf_cart_url, { :class => "clf-go-to-cart btn btn-secondary" } %>
    <%= link_to "Check out", clf_order_url, { :class => "clf-check-out btn btn-secondary #{if @order.book_count < @order.minimum_books then "hidden" end}" } %>
  </div>
</div>
<div class="clf-cart-display list-group">
  <% ClfBook.where( :festival_year => Time.now.year.to_i ).order( "primary_author asc, title asc" ).each do |book| %>
    <%
      book_order = ClfBookOrderLink.find_by( :book_id => book.id, :order_id => @order.id )
      book_order ||= ClfBookOrderLink.new
      book_order.quantity ||= 0
    %>
    <% cache( book.id.to_s + "|" + book.updated_at.to_s + "|" + book_order.id.to_s + book_order.updated_at.to_s ) do %>
      <div class="clf-book list-group-item <%= if book_order.quantity == 0 then "hidden" end %>" id="book-<%= book.id %>">
        <div class="row ml-0">
          <div class="clf-book-image col-md-2">
            <img src="<%= book.full_image_url %>" alt="Cover art for <%= book.title.titleize %>">
          </div>
          <div class="col-md-10">
            <div class="clf-book-title"><%= book.title.titleize %></div>
            <div class="clf-book-author"><%= book.combined_authors %> </div>
            <div class="clf-book-price">Price: $<%= number_with_precision( book.price, :precision => 2 ) %></div>
            <div class="clf-book-quantity">Quantity: <%= book_order.quantity %></div>
            <div class="clf-book-add-to-cart">
              <%= semantic_form_for( book_order, :url => clf_add_to_cart_url, :method => "POST" ) do |f| %>
                <%= f.inputs do %>
                  <%= f.input :book_id, :as => :hidden, :value => book.id %>
                  <%= f.input :quantity, :label => false, :input_html => { :placeholder => "Quantity", :class => "clf-book-add-to-cart-quantity", :min => 1, :max => 1000 } %>
                <% end %>
                <%= f.actions do %>
                  <%
                button_label = "Add to Cart"
                if !book_order.new_record? and book_order.quantity != 0
                  button_label = "Update Cart"
                end
              %>
                  <%= f.action :submit, :as => :button, :label => button_label, :button_html => {:class => 'btn btn-secondary update-cart'} %>
                  <%= f.action :reset, :as => :button, :label => "Remove", :button_html => {:class => "btn btn-secondary remove-from-cart #{if book_order.new_record? then "hidden" end}"} %>
                <% end %>
              <% end %>
            </div>
            <div class="clf-book-total">Total: $<%= number_with_precision( book_order.quantity * (book.price || 0), precision: 2 ) %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
