<% if @order.book_count < @order.minimum_books %>
<div class="clf-minimum-books-alert alert alert-danger">
  You have less than 10 books in your order. There is 10 book minimum for all pre-orders.
</div>
<% end %>
