<h1><%= @page_title %></h1>

<% if Time.now > Chronic.parse("March 17, 2020") %>
<p>Pre-ordering for the 2020 festival is no longer available.</p>
<% else %>

<h2>Important Information</h2>
<p>
  Pre-ordering of books is available for teachers, librarians, and administrators wishing to place a group order, or a parent wishing to purchase a total of 10 or more books.  A valid e-mail address is required with all pre-orders.
  </p>
<p>
  All pre-orders are considered final sales.  Once confirmation is received it cannot be changed.  No refunds will be given or exchanges made. Pre-orders can be paid for with a purchase order, check, cash or credit card at pick-up.
  </p>
<p>
  Payment is due at time of pick up.  P.O., Check, Credit Card, or Cash payment will be processed at pickup. Please do not send in payment.
</p>

<hr>

<div class="clf-browse row">
  <div class="col-md-8">

    <div class="authors-toc card">
      <h2 class="card-header">Authors</h2>
      <div class="list-group list-group-flush">
        <% @authors.each do |author| %>
          <%= link_to author, '#' + author.downcase.gsub(/[\.\,\s\-]/, ""), class: 'list-group-item' %>
        <% end %>
      </div>
    </div>



    <% @books_by_author.each do |author, books| %>
      <div class="clf-author card">
        <h3 id="<%= author.downcase.gsub(/[\.\,\s\-]/, "") %>" class="clf-author-heading card-header"><%= author %></h3>
        <div class="clf-author-books list-group list-group-flush">
          <% books.each do |book| %>
            <%
              book_order = ClfBookOrderLink.find_by( :order_id => @order.id, :book_id => book.id )
              book_order ||= ClfBookOrderLink.new
            %>
            <% cache( book.id.to_s + "|" + book.updated_at.to_s + "|" + book_order.id.to_s + book_order.updated_at.to_s ) do %>
              <li class="list-group-item">
                <div class="clf-book clearfix row">
                  <div class="clf-book-image col-md-2">
                    <% if !book.info_page_url.blank? %>
                      <a href="<%= book.info_page_url %>">
                      <% end %>
                      <img class="b-lazy" data-src="<%= book.full_image_url %>" alt="Cover art for <%= book.title %>" />
                      <% if !book.info_page_url.blank? %>
                      </a>
                    <% end %>
                  </div>
                  <div class="col-md-10">
                    <h4 class="clf-book-title">
                      <% if !book.info_page_url.blank? %>
                        <a href="<%= book.info_page_url %>">
                        <% end %>
                        <%= book.title.titleize %>
                        <% if !book.info_page_url.blank? %>
                        </a>
                      <% end %>
                    </h4>
                    <div class="clf-book-price">$<%= number_with_precision( book.price, :precision => 2 ) %></div>
                    <div class="clf-book-add-to-cart">
                      <%= semantic_form_for( book_order, :url => clf_add_to_cart_url, :method => "POST" ) do |f| %>
                        <%= f.inputs do %>
                          <%= f.input :book_id, :as => :hidden, :input_html => { :value => book.id } %>
                          <%= f.input :quantity, :label => false, :input_html => { :placeholder => "Quantity", :class => "clf-book-add-to-cart-quantity", :min => 1, :max => 1000 } %>
                        <% end %>
                        <%= f.actions do %>
                          <%
                            button_label = "Add to Cart"
                            if !book_order.new_record? and book_order.quantity != 0
                              button_label = "Update Cart"
                            end
                          %>
                          <%= f.action :submit, :as => :button, :label => button_label, :button_html => {:class => 'btn btn-secondary add-to-cart'} %>
                          <%= f.action :reset, :as => :button, :label => "Remove", :button_html => {:class => "btn btn-secondary remove-from-cart #{if book_order.new_record? then "hidden" end}"} %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="clf-book-summary col-md-12"><%= book.summary %></div>
                </div>
              </li>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "sidebar_cart" %>
</div>
<% end %>