<h1><%= @page_title %></h1>

<p>
  For nearly 50 years, the University of Central Missouri has sponsored the Children's Literature Festival.
  Thousands of Missouri schoolchildren attend this annual event to hear nationally recognized children’s
  authors and illustrators speak about their work.
</p>

<h2>Festival Information</h2>
<p>Learn about the upcoming Children's Literature Festival.</p>
<ul>
  <li><a href="http://guides.library.ucmo.edu/clf">Festival Information</a></li>
  <li><a href="http://guides.library.ucmo.edu/c.php?g=141900&p=929092">Brochure</a></li>
  <li><a href="http://guides.library.ucmo.edu/c.php?g=141900&p=929167">Volunteer</a></li>
  <li><a href="http://guides.library.ucmo.edu/c.php?g=141900&p=929127">Register</a></li>
</ul>

<h2>Pre-Order Books</h2>
<p>To place large orders for your school, use our online pre-order form. There is a minimum of <%= @order.minimum_books %> books for all pre-orders.</p>
<p><%= link_to "Children's Literature Festival Pre-Order Form", clf_browse_url %></p>
