<h1><%= @page_title %></h1>

<%= render "minimum_books_alert" %>

<% if @order.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h4>Please correct the following errors:</h4>
    <ul>
      <% @order.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>Provide your information to finish your order. Online payment is not available. All orders must be paid and picked up in person.</p>

<div class="row">
  <div class="col-md-8">
    <div class="clf-order-form box-shadow">

    <%= semantic_form_for( @order, :url => clf_order_url, :method => "post" ) do |f| %>
      <%= f.inputs do %>

        <%= f.input :school_name, :as => :string, :label => "School Name", :required => true %>
        <%= f.input :contact_name, :as => :string, :label => "Contact Name", :required => true  %>
        <%= f.input :contact_email, :as => :email, :label => "Contact Email", :required => true  %>
        <%= f.input :contact_phone, :as => :string, :label => "Contact Phone", :required => true  %>

        <%= f.input :tax_exempt, :as => :radio, :label => "Tax Exempt?" %>
        <%= f.input :tax_exempt_number, :as => :string, :label => "Tax Exemption Number" %>
        <p>If exempt, taxes will be removed from your order after submission.</p>
        <%= f.input :comment, :as => :text, :input_html => { :rows => "4" }, :label => "Notes" %>

        <% #This is a honeypot for detecting spam %>
        <div class="honeypot">
        <%= label_tag :content %>
        <%= text_field_tag :content, nil %>
        </div>

      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :label => "Submit", :button_html => {:class => 'btn btn-primary'} %>
      <% end %>
    <% end %>
    </div>
  </div>

  <%= render "sidebar_cart" %>
</div>
