<h1><%= @page_title %></h1>
<p>Complete this form to send an email to JCKL. We will get back to you as quickly as possible.
  You can also email <a href="#" data-toggle="modal" data-target=".employee-list-modal">a specific employee</a>
  or <a href="#" data-toggle="modal" data-target=".office-list-modal">a specific library office</a>.</p>
<div class="employee-list-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Select an Employee</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% @employees.each do |employee| %>
            <%= link_to employee.last_first, employee_website_contacts_url(name: employee.url_slug), class: "list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="office-list-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Select an Office</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% @offices.each do |office| %>
            <%= link_to office.display_name, office_website_contacts_url(name: office.office_name), class: "list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "form" %>
