<h1><%= @page_title %></h1>

<div class="list-group">
  <span class="list-group-item">
      <div class="libchat-widget-button" id="libchat_f84b4c05a5033a01d65116d4ae2db4fe"></div><script type="text/javascript" src="//v2.libanswers.com/load_chat.php?hash=f84b4c05a5033a01d65116d4ae2db4fe"></script>
  </span>
  <span class="list-group-item">
    Call us at 660-543-4283
  </span>
  <span class="list-group-item">
    Text us at 660-230-0011
  </span>
  <a href="http://guides.library.ucmo.edu" class="list-group-item">
    Research Guides and Tutorials
  </a>

  <a href="<%= subject_specialists_employees_path %>" class="list-group-item">
    Connect With Your Subject Specialist
  </a>
</div>
