<h1><%= @page_title %></h1>
<p>Complete this form to send an email to the <%= @office.display_name %>. You can also call <a href="tel:<%= @office.phone_number %>"><%= @office.phone_number %></a></p>
<%= render "form" %>
