<div class="absence-date list-group-item">
<%= f.inputs do %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :absence_date, as: :string, input_html: { readonly: true } %>
    </div>
    <div class="col-md-2">
      <%= f.input :is_all_day, as: :boolean, label: "Out All Day", input_html: {class: 'out-all-day'} %>
    </div>
    <div class="col-md-3">
      <%= f.input :start_time, as: :string, label: 'Start Time (unless all day)', input_html: {class: 'start-time anytime-time', value: f.object&.start_time&.strftime("%I:%M %p") || ""} %>
    </div>
    <div class="col-md-3">
      <%= f.input :end_time, as: :string, label: 'End Time (unless all day)', input_html: {class: 'end-time anytime-time', value: f.object&.end_time&.strftime("%I:%M %p") || "" } %>
    </div>
  </div>

  <div class="absence-time-used-fields row">
    <label class="col-md-12">Time Used<abbr title="required">*</abbr></label>
    <div class="col-md-5">
      <%= f.input :leave_hours_used, label: false, hint: 'hours and', as: :number %>
    </div>
    <div class="col-md-5">
      <%= f.input :leave_minutes_used, label: false, hint: 'minutes', as: :number %>
    </div>
    <div class="col-md-2">
      <button class="remove-date btn btn-sm btn-light" type="button">&times Remove this date</button>
    </div>
  </div>

  <%= f.input :_destroy, as: :hidden, input_html: {value: 0, class: 'destroy-record'} %>




<% end %>
</div>
