<% if @absence.errors.any? %>
  <div class="form-errors alert alert-danger">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @absence.errors.messages.each do |field, msg| %>
        <li>
          <%= if field == :absence_type then 'Absence Type ' end %>
          <%= msg.flatten.join(' ') %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= semantic_form_for(
      @absence,
      url: if @absence.new_record? then employee_absences_url(employee_name: @employee.url_slug) else employee_absence_url( employee_name: @employee.url_slug, id: @absence.id ) end,
      method: if @absence.new_record? then :post else :patch end
    ) do |f| %>


  <%= f.inputs do %>

    <h2>Select Dates</h2>

    <div class="row datepicker-row">
      <div class="col-md-6">
        <div id="absence-dates"></div>
      </div>
      <div class="col-md-6">
        <input type="hidden" id="selected-dates" value="<%= @absence_date_list&.map{|d| Chronic.parse(d)&.to_date}&.join('|') %>"/>
        <%= f.input :absence_dates_list, as: :text, label: false, input_html: {readonly: true, rows: 7 } %>
        <div class="date-change-buttons">
          <%= link_to( 'Use These Dates',
                        if @absence.new_record? then
                          new_employee_absence_url(employee_name: @employee.url_slug)
                        else
                          edit_employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id )
                        end,
                        class: 'btn btn-primary', id: 'change-absence-dates'
                      )
          %>

          <%= button_tag('Clear calendar dates', type: 'button', class: 'btn btn-light', id: 'clear-absence-dates') %>
        </div>
      </div>
    </div>

  <% end %>

  <% if @absence.absence_dates_list.present? %>

    <hr>

    <h2>Provide Absence Details</h2>
    <%= f.inputs do %>
      <% if current_user.employee.library_administrator? %>
        <%= f.input :employee, as: :select, collection: Employee.where( "hide_from_public_views = false or hide_from_public_views is null" ).order( "last_name ASC, first_name ASC" ).pluck( "concat(last_name,\", \", first_name )", :id ) %>
      <%  end %>
      <%= f.input :absence_type, as: :select, label: "Absence Type", collection: AbsenceType.all.order(:sort).pluck(:display_name, :id) %>
      <%= f.input :background_information, as: :text, label: "Additional information",input_html: { rows: 4 } %>
      <%= f.input :professional_funding, as: :string %>

      <hr>

      <h2>Provide Times For Each Date</h2>
      <div class="list-group">
      <%= f.semantic_fields_for :absence_dates, @absence.absence_dates.sort_by(&:absence_date) do |absence_date| %>
        <%= render 'date_subform', f: absence_date %>
      <% end %>
      </div>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, as: :button,
          label: if @absence.new_record? then "Submit" else "Save" end,
          button_html: {class: 'btn btn-primary btn-sm'} %>
      <% if !@absence.new_record? %>
        <% if current_user.employee.can_approve_absences_of?( @absence.employee ) %>
          <%= link_to "Delete", employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                class: "btn btn-light btn-sm confirmation-dialog",
                method: "delete" %>
        <% end %>

        <% if current_user.employee.can_approve_absences_of?(@absence.employee) %>
          <%= if @absence.approved != true then
              link_to "Approve",
                approve_employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                method: :patch, class: "btn btn-light btn-sm"
              end  %>

          <% if @absence.approved != false %>
            <%= render 'reject_note', absence: @absence %>
          <% end %>

        <% end %>

        <% if @absence.note_required and @absence.note_received != true and current_user.employee.can_approve_absences_of?( @employee ) and @absence.new_record? == false %>
          <%= link_to "Mark Note As Received",
                receive_note_employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                method: :patch, class: "btn btn-light btn-sm"  %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
