<a href="#" class="btn btn-light btn-sm" data-toggle="modal" data-target="#absence-<%= absence.id %>-reject-modal"/>Reject</a>
<div class="modal fade" id="absence-<%= absence.id %>-reject-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= semantic_form_for absence, url: reject_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ), method: :patch do |f| %>
    <div class="modal-content">
      <div class="modal-body">
        <p>Please provide a reason for rejecting this absence:</p>
        <%= f.inputs do %>
          <% f.input :reject_note, label: 'Reason', as: :text, input_html: {rows: 5} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.actions do %>
          <%= f.action :submit, label: 'Reject', button_html: {class: 'btn btn-primary'} %>
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
