<h1><%= @page_title %></h1>
<% if @absence_dates.blank? %>
  <p>There are no absences today.</p>
<% else %>
  <table class="absence-form-list table table-striped table-condensed">
    <thead>
      <th>Employee</th>
      <th>Absence Time</th>
    </thead>
    <% @absence_dates.each do |d| %>
      <tr class="absence">
        <td><%= d.absence.employee.first_last %></td>
        <% if d.is_all_day == 1 || d.is_all_day == true %>
        <td>Out all day</td>
        <% else %>
        <td>Out <%= d.start_time&.strftime('%l:%M %p') %> to <%= d.end_time&.strftime('%l:%M %p') %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ucmo.edu_g3v7r53k657u2ajn6d2v2j0j94%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ucmo.edu_l4upveu3lkkomokr2strtf9fc8%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
