<h1><%= @page_title %></h1>

<h2>Leave Time Used Between <%= @start_date.strftime("%Y-%m-%d") %> and <%= @end_date.strftime("%Y-%m-%d") %></h2>

<p>Note: absences not yet approved are not counted in these totals.</p>

<table id="absence-totals-table" class="table table-sm table-striped">
  <tr>
    <td>Sick Leave - Self &nbsp;&nbsp;&nbsp;(Includes absence type "Medical Appointment")</td>
    <td class="absence-sick-leave-self-used" class="absence-sick-leave-family-used"><%= ChronicDuration.output((@employee.leave_time_used_between( @start_date, @end_date, "sickself", false ) + @employee.leave_time_used_between(@start_date, @end_date, 'medical', false)) * 60, limit_to_hours: true, format: :long) || '0 hours' %></td>
  </tr>
  <tr>
    <td>Sick Leave - Family</td>
    <td class="absence-sick-leave-family-used"><%= @employee.leave_time_used_between( @start_date, @end_date, "sickfamily" ) %></td>
  </tr>
  <tr>
    <td>Vacation Leave</td>
    <td class="absence-vacation-used"><%= @employee.leave_time_used_between( @start_date, @end_date, "vacation" ) %></td>
  </tr>
</table>

<a id="view-all-absences" href="#" data-toggle="modal" data-target="#absences-modal">
  View All Absence Types
</a>

<form class="form-inline absence-date-form" method="get">
  <label>Start Date</label>
  <input name="start_date" type="text" id="absence-index-start-date" class="anytime-date form-control" value="<%= @start_date %>"/>
  <label>End Date</label>
  <input name="end_date" type="text" id="absence-index-end-date" class="anytime-date form-control" value="<%= @end_date %>"/>
  <button class="btn btn-light" type="submit">Change Date Range</button>
</form>

<!-- Modal -->
<div class="modal fade" id="absences-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Absences by Type <br /><small><%= @start_date.strftime("%Y-%m-%d") %> to <%= @end_date.strftime("%Y-%m-%d") %></small></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-striped">
          <% AbsenceType.all.each do |type| %>
            <tr>
              <td><%= type.display_name %></td>
              <td><%= @employee.leave_time_used_between(@start_date, @end_date, type.absence_type_name) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<h2>Absences Between <%= @start_date.strftime("%Y-%m-%d") %> and <%= @end_date.strftime("%Y-%m-%d") %><%= link_to("Submit New Absence", new_employee_absence_url( employee_name: @employee.url_slug ), class: 'badge badge-primary badge-pill float-sm-right') %></h2>
<% if @absences.blank? %>
  <p>There are no absences to display.</p>
<% else %>
  <table class="employee-absences-table datatable table table-striped table-sm" data-toggle="table" data-search="true" data-show-toggle="true" data-show-columns="true" data-pagination="true" data-page-size="10" data-icons="JCKL.PLUGINS.BOOTSTRAP_TABLE_ICONS" data-icons-prefix="fa">
    <thead>
      <tr>
        <th data-field="submitted" data-sortable="true">Time Submitted</th>
        <th data-field="dates" data-sortable="true">Dates</th>
        <th data-field="duration" data-sortable="true">Duration</th>
        <th data-field="type" data-sortable="true">Type of Absence</th>
        <th data-field="approvals" data-sortable="true">Approvals</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @absences.each do |absence| %>
      <tr class="absence">
        <td class="absence-time-submitted"><%= absence.created_at.to_formatted_s(:long_12hr) %></td>
        <td class="absence-date-range">
          <%= absence.date_range %>
        </td>
        <td><%= absence.absence_duration_string %></td>
        <td class="absence-type"><%= absence.absence_type&.display_name %></td>

        <td class="absence-approvals">
          <div>
            <% if absence.approved %>
              <i class="fa fa-check"></i> Approved by <%= absence&.approver&.first_last || 'n/a' %>
          <% elsif absence.approved.nil? %>
              <i class="fa fa-exclamation-triangle"></i> Approval Pending
          <% elsif absence.approved == false %>
              <i class="fa fa-times"></i> Rejected by <%= absence&.approver&.first_last || 'n/a' %>
          <% end %>
          </div>
          <div>
            <% if absence.note_required and absence.note_received %>
              <i class="fa fa-check"></i> Note Received
          <% elsif absence.note_required and absence.note_received != true %>
              <i class="fa fa-exclamation-triangle"></i> Note Pending
          <% end %>
          </div>
        </td>
        <td class="absence-actions">
          <div class="btn-group btn-group-sm">
            <%= link_to("View", employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-light btn-sm") %>
            <%= link_to("Edit", edit_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-light btn-sm") %>
            <% if current_user.employee.can_approve_absences_of?( @employee ) %>
            <%= link_to("Delete", employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      class: "btn btn-light btn-sm confirmation-dialog",
                      method: "delete",
                      data: {confirm: "Are you sure you want to delete this request?"} ) %>
            <% end %>
          </div>
          <% if current_user.employee&.can_approve_absences_of?( @employee ) %>
            <div class="absence-approval-actions btn-group btn-group-sm">
              <%= if absence.approved != true then
                    link_to("Approve",
                      approve_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      method: :patch, class: "btn btn-light btn-sm")
                  end %>


              <% if absence.approved != false %>
                <%= render 'reject_note', absence: absence %>
              <% end %>

              <%= if absence.note_required and absence.note_received != true then
                    link_to("Mark Note As Received",
                      receive_note_employee_absence_url( employee_name: absence.employee.url_slug, id: absence.id ),
                      method: :patch, class: "btn btn-default btn-sm")
                  end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
