<h1><%= @page_title %></h1>
<% if @submit_for.present? %>
  <div class="dropdown absence-submit-for-subordinate-links">
    <button class="btn btn-light dropdown-toggle" type="button" id="absence-submit-for-subordinate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Submit For Another Employee
    </button>
    <div class="dropdown-menu" aria-labelledby="absence-submit-for-subordinate">
      <% @submit_for.each do |employee| %>
        <%= link_to(employee.last_first, new_employee_absence_url(employee_name: employee.url_slug), class: "dropdown-item") %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render "form" %>
