<h1><%= @page_title %></h1>
<table class="table table-condensed table-striped">
  <tr>
    <td>Employee</td>
    <td><%= @absence.employee.first_last  %></td>
  </tr>
  <tr>
    <td>Absence Type</td>
    <td><%= @absence.absence_type&.display_name  %></td>
  </tr>
  <tr>
    <td>Duration</td>
    <td><%= @absence.absence_duration_string %></td>
  </tr>
  <tr>
    <td>Background Information</td>
    <td><%= @absence.background_information || '(n/a)'  %></td>
  </tr>
  <tr>
    <td>Dates</td>
    <td>
      <table>
      <% @absence.absence_dates.each do |d| %>
        <tr>
          <td><%= d.absence_date %></td>
          <% if d.is_all_day == true || d.is_all_day == 1 %>
            <td>Out all day</td>
          <% else %>
            <td><%= d.start_time.strftime("%I:%M %p") %> to <%= d.end_time.strftime("%I:%M %p") %></td>
          <% end %>
          <td><%= d.leave_hours_used %> hours, <%= d.leave_minutes_used %> minutes</td>
        </tr>
      <% end %>
    </table>
    </td>
  </tr>
  <tr>
    <td>Approval Status</td>
    <td>
      <% if @absence.approved %>
        <i class="fa fa-check"></i> Approved by <%= @absence&.approver&.first_last || 'n/a' %>
      <% elsif @absence.approved.nil? %>
        <i class="fa fa-exclamation-triangle"></i> Awaiting Approval
      <% elsif @absence.approved == false %>
        <i class="fa fa-times"></i> Rejected by <%= @absence&.approver&.first_last || 'n/a' %>
      <% end %>
    </td>
  </tr>
  <% if @absence.approved == false %>
    <tr>
      <td>Reason Rejected</td>
      <td><%= @absence.reject_note %></td>
    </tr>
  <% end %>
  <tr>
    <td>Doctor's Note</td>
    <td>
      <% if @absence.note_required and @absence.note_received %>
        <i class="fa fa-check"></i> Note Received
      <% elsif @absence.note_required and @absence.note_received != true %>
        <i class="fa fa-exclamation-triangle"></i> Awaiting Note
      <% else %>
        N/A
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Submitted By</td>
    <td><%= @absence.submitter.first_last %></td>
  </tr>
  <% if @absence.editor.present? %>
  <tr>
    <td>Edited By</td>
    <td><%= @absence.editor.first_last %></td>
  </tr>
  <% end %>
  <tr>
    <td>Submitted At</td>
    <td><%= @absence.created_at.to_formatted_s( :long_12hr ) %></td>
  </tr>
  <tr>
    <td>Updated At</td>
    <td><%= @absence.updated_at.to_formatted_s( :long_12hr ) %></td>
  </tr>
  <tr>
    <td>Actions</td>
    <td>
      <div class="btn-group btn-group-sm">
        <%= link_to "Edit", edit_employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                  class: "btn btn-light btn-sm" %>

        <% if current_user.employee.can_approve_absences_of?( @absence.employee ) %>
        <%= link_to "Delete", employee_absence_url( employee_name: @absence.employee.url_slug, id: @absence.id ),
                  class: "btn btn-light btn-sm confirmation-dialog",
                  method: "delete",
                  data: {confirm: "Are you sure you want to delete this request?"} %>
        <% end %>
      </div>
      <% if current_user.employee.can_approve_absences_of?( @absence.employee ) %>
        <div class="btn-group btn-group-sm">
          <%= if @absence.approved != true then
            link_to "Approve",
              approve_employee_absence_url( id: @absence.id ),
              method: :patch, class: "btn btn-light btn-sm"
          end %>

          <% if @absence.approved != false %>
            <%= render 'reject_note', absence: @absence %>
          <% end %>

          <% if @absence.note_required and @absence.note_received == false %>
            <%= link_to "Mark Note As Received",
                  receive_note_employee_absence_url( :id => @absence.id ),
                  method: :patch, class: "btn btn-light btn-sm"  %>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
