<h1>Online Contact Form Received</h1>
<% if @office.present? %>
  <p>The following message was sent to the <%= @office.display_name %>.</p>
<% end %>
<% if @employee.present? %>
  <p>The following message was sent to <%= @employee.first_last %>.</p>
<% end %>
<table>
  <tr>
    <td class="padded-right">Time Submitted:</td>
    <td><%= @contact_form.email_friendly_created_at %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Name:</td>
    <td><%= @contact_form.contact_name %></td>
  </tr>
  <tr>
    <td class="padded-right">Contact Email Address:</td>
    <td><%= @contact_form.contact_email %></td>
  </tr>
  <tr> 
    <td class="padded-right">Contact 700#:</td>
    <td><%= @contact_form.contact_700_number %></td>
  </tr>
  <tr>
    <td class="padded-right">Topic:</td>
    <td><%= @contact_form.topic %></td>
  </tr>
  <tr>
    <td class="padded-right">Subject:</td>
    <td><%= @contact_form.subject %></td>
  </tr>
  <tr>
    <td class="padded-right">Message:</td>
    <td><%= @contact_form.message %></td>
  </tr>
</table>
