<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item <%= if @current_page == 0 then "disabled" end %>">
      <a class="page-link" href="<%= dvds_url(page: @current_page, genre: @genre&.display_name) %>" tabindex="-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <% @pages_to_show.each do |i| %>
      <% if i <= @total_pages %>
        <li class="page-item <%= if @current_page == i then "active" end %>">
          <a class="page-link" href="<%= dvds_url(page: i + 1, genre: @genre&.display_name) %>"><%= i + 1 %></a>
        </li>
      <% end %>
    <% end %>
    <li class="page-item <%= if @current_page >= @total_pages - 1 then "disabled" end %>">
      <a class="page-link" href="<%= dvds_url(page: @current_page + 2, genre: @genre&.display_name) %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
