<table class="table table-striped table-sm" data-toggle="table" data-search="true" data-icons="JCKL.PLUGINS.BOOTSTRAP_TABLE_ICONS" data-icons-prefix="fa" data-show-export="true" data-export-data-type="all" data-export-types="['csv','excel', 'pdf']">
  <thead>
    <th></th>
    <% @table[:headings].each_with_index do |heading| %>
      <th><%= heading %></th>
    <% end %>
  </thead>
  <% @table[:rows].each do |date, values| %>
    <tr>
      <td><%= date %></td>
      <% values.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tr>
  <% end %>
</table>
