<div class="chart-data-filters box-shadow">
  <form method="get">

    <div class="form-group row">
      <div class="col-md-5">
        <label for="start-time">Start Time</label>
        <input type="text" class="form-control form-control-sm anytime-datetime" id="start-time" name="start_time" value="<%= @start_time.to_s(:long_12hr) %> " />
      </div>
      <div class="col-md-5">
        <label for="end-time">End Time</label>
        <input type="text" class="form-control form-control-sm anytime-datetime" id="end-time" name="end_time" value="<%= @end_time.to_s(:long_12hr) %>" />
      </div>
      <div class="col-md-2 align-self-end">
        <button type="submit" class="btn btn-sm btn-primary">View Chart</button>
      </div>

      <input type="hidden" id="original-start-time" value="<%= @start_time %>" />
      <input type="hidden" id="original-end-time" value="<%= @end_time %>" />
    </div>

  </form>
</div>
