<h1><%= @page_title %></h1>
<div class="row">
  <div class="col-md-3">
    <%= render 'nav' %>
  </div>
  <div class="col-md-9">
    <div class="chart-data-filters box-shadow">
      <form method="get">
        <div class="form-group row">
          <label for="start-time" class="col-sm-1 col-form-label col-form-label-sm">Start Time</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm anytime-datetime" id="start-time" name="start_time" value="<%= @start_time.to_s(:long_12hr) %> " />
          </div>
        </div>
        <div class="form-group row">
          <label for="end-time" class="col-sm-1 col-form-label col-form-label-sm">End Time</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm anytime-datetime" id="end-time" name="end_time" value="<%= @end_time.to_s(:long_12hr) %>" />
          </div>
        </div>
        <div class="form-group row">
          <label for="interval" class="col-sm-1 col-form-label col-form-label-sm">Time Interval</label>
          <div class="col-sm-11">
            <select class="form-control form-control-sm" id="interval" name="interval">
              <% HighchartsDataSource::INTERVALS.each do |name, display_name| %>
                <option value="<%= name %>" <%= if @interval == name.to_s then "selected" end %>><%= display_name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="grouping" class="col-sm-1 col-form-label col-form-label-sm">Grouping</label>
          <div class="col-sm-11">
            <select class="form-control form-control-sm" id="grouping" name="grouping">
              <option value="all" <%= if @grouping == "all" then "selected" end %>>All</option>
              <option value="floor" <%= if @grouping == "floor" then "selected" end %>>By Floor</option>
              <option value="location" <%= if @grouping == "location" then "selected" end %>>By Location</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-1 col-11">
            <button type="submit" class="btn btn-sm btn-light">View Chart</button>
          </div>
        </div>
      </form>
    </div>
    <div class="chart-area box-shadow">
      <%= high_chart_globals(chart_globals) %>
      <%= high_chart("headcounts-chart", @chart) %>
    </div>
    <% if @grouping == 'location' %>
    <div class="chart-map box-shadow">

      <nav class="map-data-pagination d-flex justify-content-between">
          <div class="previous-time-period">
            PREVIOUS
          </div>

          <div class="select-time-period">
            <select class="map-time-period">
              <option value="average">Average</option>
              <% if @highcharts_data[:xAxis][:type] == 'datetime' %>
                <% @highcharts_data.dig(:series, 0, :data)&.each do |data_point| %>
                  <option value="<%= data_point[:x] %>">
                    <%= DateTime.strptime(data_point[:x].to_s, '%Q').strftime(HeadcountEntry.date_format(@interval)) %>
                  </option>
                <% end %>
              <% else %>
                <% @highcharts_data[:xAxis][:categories].each do |category| %>
                  <option value="<%= category %>"><%= category %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <div class="next-time-period">
            NEXT
          </div>

      </nav>

      <div class="map-color-scale">
        <div class="map-color-scale-start"></div>
        <div class="map-color-scale-midpoint"></div>
        <div class="map-color-scale-end"></div>
      </div>



      <div class="jckl-svg-map" data-map-url="<%= image_url('floorplan.svg') %>"></div>


      <nav class="map-data-pagination d-flex justify-content-between">
          <div class="previous-time-period">
            PREVIOUS
          </div>

          <div class="select-time-period">
            <select class="map-time-period">
              <option value="average">Average</option>
              <% if @highcharts_data[:xAxis][:type] == 'datetime' %>
                <% @highcharts_data.dig(:series, 0, :data)&.each do |data_point| %>
                  <option value="<%= data_point[:x] %>">
                    <%= DateTime.strptime(data_point[:x].to_s, '%Q').strftime(HeadcountEntry.date_format(@interval)) %>
                  </option>
                <% end %>
              <% else %>
                <% @highcharts_data[:xAxis][:categories].each do |category| %>
                  <option value="<%= category %>"><%= category %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <div class="next-time-period">
            NEXT
          </div>

      </nav>

      <div class="map-color-scale">
        <div class="map-color-scale-start"></div>
        <div class="map-color-scale-midpoint"></div>
        <div class="map-color-scale-end"></div>
      </div>


      <script>
        JCKL.STATS_DATA = <%= raw(@chart.options.merge({series_data: @chart.series_data}).to_json) %>;
        JCKL.LOCATIONS = <%= raw(Location.all.to_json) %>;
      </script>
    </div>
    <% end %>
    <div class="chart-data-table box-shadow">
      <%= render 'datatable' %>
    </div>
  </div>
</div>
