<h1><%= @page_title %></h1>
<div class="row">
  <div class="col-md-3">
    <%= render 'nav' %>
  </div>

  <div class="col-md-9">

    <%= render 'time_filter' %>

    <script>
      STATS_DATA = {};
      STATS_DATA.DEFAULT_STUDY_ROOMS_HOURS_USED = <%= raw(@hours_data.to_json) %>;
      STATS_DATA.DEFAULT_STUDY_ROOMS_PERCENT_USED = <%= raw(@percent_data.to_json) %>;

    </script>

    <!-- START HOURS -->
    <h2>Hours Used</h2>
    <div class="chart-area box-shadow" id="hours-data">

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="time-period-toggle btn-group mr-4" role="group">
          <button type="button" class="btn btn-light" data-time-period="hours">Hour</button>
          <button type="button" class="btn btn-light active" data-time-period="days">Day</button>
          <button type="button" class="btn btn-light" data-time-period="weeks">Week</button>
          <button type="button" class="btn btn-light" data-time-period="months">Month</button>
          <button type="button" class="btn btn-light" data-time-period="years">Year</button>
          <button type="button" class="btn btn-light" data-time-period="hours_avg">Hour (Avg)</button>
          <button type="button" class="btn btn-light" data-time-period="weekdays_avg">Weekday (Avg)</button>
          <button type="button" class="btn btn-light" data-time-period="weekdays_hours_avg">Hour and Weekday (Avg)</button>
        </div>
        <div class="grouping-toggle btn-group mr-2" role="group">
          <button type="button" class="btn btn-light active" data-grouping="room">Per Room</button>
          <button type="button" class="btn btn-light" data-grouping="all">Total</button>
        </div>
      </div>

      <div class="chart" id="hours-used-chart" data-set="STUDY_ROOMS_HOURS_USED" data-default-options="STUDY_ROOM_HOURS_USED_CHART_OPTIONS"></div>

      <div id="hours-used-accordion" role="tablist">

        <div class="card">

          <div class="card-header" role="tab">
            <h3>
              <a data-toggle="collapse" data-parent="#hours-used-accordion" href="#hours-used-table">
                Data Table
              </a>
            </h3>
          </div>

          <div id="hours-used-table" class="chart-data-table collapse" role="tabpanel">
            <div class="card-body">
              <table class="datatable table table-striped table-sm" data-toggle="table" data-search="true" data-show-toggle="true" data-icons="JCKL.PLUGINS.BOOTSTRAP_TABLE_ICONS" data-icons-prefix="fa" data-show-footer="false" data-show-export="true">
                <thead>
                  <th data-field="c1" data-sortable="true">Time</th>
                  <th data-field="c2" data-sortable="true">Room</th>
                  <th data-field="c3" data-sortable="true">Hours Used</th>
                </thead>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- END HOURS -->




    <!-- START PERCENTAGES -->
    <h2>Percent of Available Hours Used</h2>
    <div class="chart-area box-shadow" id="percent-data">

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="time-period-toggle btn-group mr-4" role="group">
          <button type="button" class="btn btn-light active" data-time-period="days">Day</button>
          <button type="button" class="btn btn-light" data-time-period="weeks">Week</button>
          <button type="button" class="btn btn-light" data-time-period="months">Month</button>
          <button type="button" class="btn btn-light" data-time-period="years">Year</button>
          <button type="button" class="btn btn-light" data-time-period="weekdays_avg">Weekday (Avg)</button>
        </div>
        <div class="grouping-toggle btn-group mr-2" role="group">
          <button type="button" class="btn btn-light" data-grouping="room">Per Room</button>
          <button type="button" class="btn btn-light active" data-grouping="all">Total</button>
        </div>
      </div>

      <div class="chart" id="percent-used-chart" data-set="STUDY_ROOMS_PERCENT_USED" data-default-options="STUDY_ROOM_PERCENT_USED_CHART_OPTIONS"></div>

      <div id="percent-used-accordion" role="tablist">

        <div class="card">

          <div class="card-header" role="tab">
            <h3>
              <a data-toggle="collapse" data-parent="#hours-used-accordion" href="#hours-used-table">
                Data Table
              </a>
            </h3>
          </div>

          <div id="percent-used-table" class="chart-data-table collapse" role="tabpanel">
            <div class="card-body">
              <table class="datatable table table-striped table-sm" data-toggle="table" data-search="true" data-show-toggle="true" data-icons="JCKL.PLUGINS.BOOTSTRAP_TABLE_ICONS" data-icons-prefix="fa" data-show-footer="false" data-show-export="true">
                <thead>
                  <th data-field="c1" data-sortable="true">Time</th>
                  <th data-field="c2" data-sortable="true">Room</th>
                  <th data-field="c3" data-sortable="true">Hours Used</th>
                </thead>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- END PERCENTAGES -->



    <!-- START ROOM COMPARISON -->
    <h2>Room Comparison</h2>
    <div class="chart-area box-shadow" id="rooms-data">
      <div class="chart" id="room-comparison-chart">
        <script>
        $( document ).on( 'turbolinks:load', function() {
          var room_comparison_chart = $('#room-comparison-chart').highcharts({
            chart: {
              type: 'column',
            },
            title: {
              text: 'Room Comparison',
            },
            legend: {
              enabled: false,
            },
            xAxis: {
              categories: Object.keys(<%= raw(@rooms_data.to_json) %>),
            },
            yAxis: {
              title: {
                text: 'Hours Used'
              }
            },
            series: [{
              name: 'Rooms',
              data: Object.values(<%= raw(@rooms_data.to_json) %>),
            }],
            credits: {
              enabled: false
            }
          });
        });
        </script>
      </div>

      <div id="room-comparison-accordion" role="tablist">

        <div class="card">

          <div class="card-header" role="tab">
            <h3>
              <a data-toggle="collapse" data-parent="#room-comparison-accordion" href="#room-comparison-table">
                Data Table
              </a>
            </h3>
          </div>

          <div id="room-comparison-table" class="chart-data-table collapse" role="tabpanel">
            <div class="card-body">
              <table class="datatable table table-striped table-sm" data-toggle="table" data-search="true" data-show-toggle="true" data-icons="JCKL.PLUGINS.BOOTSTRAP_TABLE_ICONS" data-icons-prefix="fa" data-show-footer="false" data-show-export="true">
                <thead>
                  <th>Room</th>
                  <th>Hours Used</th>
                </thead>
                <% @rooms_data.each do |label, hours| %>
                  <tr>
                    <td><%= label %></td>
                    <td><%= hours %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>
    <!-- END ROOM COMPARISON -->




  </div>
</div>
