<h1><%= @page_title %></h1>

<div class="map-wrapper">
   <div class="map-info">
     <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" class="nav-item"><a href="#rooms" class="nav-link active" role="tab" data-toggle="tab">Find a Room</a></li>
       <li role="presentation" class="nav-item"><a href="#computers" class="nav-link" role="tab" data-toggle="tab">Find a Computer</a></li>
     </ul>
     <div class="tab-content">
       <div role="tabpanel" class="tab-pane clearfix active" id="rooms">
         <div class="row">
           <div class="col-md-6">
             <%= link_to("Reserve Study Rooms", "http://ucmo.libcal.com/booking/jckl-study-rooms", class: "reserve-study-room btn btn-light" ) %>
             <%= link_to("Reserve Other Rooms", meeting_rooms_url, class: "reserve-other-room btn btn-light" ) %>
           </div>
           <div class="col-md-6">
             <form class="room-search input-group">
               <input type="text" class="room-search-number form-control" placeholder="Find a Room Number" />
               <span class="input-group-btn">
                 <button class="btn btn-light" type="submit">Search</button>
               </span>
             </form>
           </div>

           <div class="room-not-found alert alert-danger w-100">
             Sorry, we couldn't find a room called "<span class="room-not-found-value"></span>".
           </div>

         </div>
       </div>
       <div role="tabpanel" class="tab-pane clearfix" id="computers">
         <div class="computer-availability btn-group" role="group">
           <button type="button" class="floor-toggle btn btn-light <%= if @initial_floor == 1 then 'active' end %>" data-floor="1">1st Floor <span class="badge badge-default"><%= @available_computers_1f.length %> available</span></button>
           <button type="button" class="floor-toggle btn btn-light <%= if @initial_floor == 2 then 'active' end %>" data-floor="2">2nd Floor <span class="badge badge-default"><%= @available_computers_2f.length %> available</span></button>
           <button type="button" class="floor-toggle btn btn-light <%= if @initial_floor == 3 then 'active' end %>" data-floor="3">3rd Floor <span class="badge badge-default"><%= @available_computers_3f.length %> available</span></button>
         </div>
       </div>
       <div role="tabpanel" class="tab-pane clearfix" id="books">
         Book info
       </div>
     </div>
   </div>
   <div class="floor-select card">
     <div class="card-body">
       <h2 class="card-title">Floor</h2>
     </div>
     <div class="list-group list-group-flush">
       <a href="#" class="floor-toggle list-group-item list-group-item-action <%= if @initial_floor == 1 then 'active' end %>" data-floor="1">1</a>
       <a href="#" class="floor-toggle list-group-item list-group-item-action <%= if @initial_floor == 2 then 'active' end %>" data-floor="2">2</a>
       <a href="#" class="floor-toggle list-group-item list-group-item-action <%= if @initial_floor == 3 then 'active' end %>" data-floor="3">3</a>
     </div>
   </div>
   <div class="jckl-svg-map" data-initial-floor="2" data-highlighted-element-id="<%= @highlight %>" data-map-url="<%= image_url('floorplan.svg') %>"></div>
</div>

<script>
  JCKL = (typeof JCKL === 'undefined') ? {} : JCKL;
  JCKL.COMPUTER_AVAILABILITY = <%= raw(@computers.to_json(methods: :available?)) %>;
</script>
