<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{page_title}" %> - James C. Kirkpatrick Library - University of Central Missouri
    </title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= page_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for :head %>
  </head>
  <body class="<%= "controller_#{controller_name}"%> <%= "action_#{action_name}" %>">
    <%= render partial: "shared/header" if layout_options[:include_header] %>
    <%= render partial: "shared/special_messages" if layout_options[:include_special_messages] %>
    <section class="content">
      <div class="<%= if layout_options[:include_fixed_width_container] then "inner container" else "container-fluid" end %>">
        <%= render partial: "shared/breadcrumb" if layout_options[:include_breadcrumb] %>
        <%= yield %>
      </div>
    </section>
    <%= render partial: "shared/footer" if layout_options[:include_footer] %>
    <%= render partial: "shared/google_analytics" if layout_options[:include_google_analytics] %>
    <%= render partial: "shared/hotjar" if layout_options[:include_hotjar] %>
    <%= render partial: "shared/browser_update" if layout_options[:include_browser_update] %>
  </body>
</html>
