<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .padded-right{
        padding-right: 100px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
    <% if @include_unmonitored_note %>
      <p>Note: This e-mail was sent automatically from an unmonitored account (library@ucmo.edu). Please do not REPLY to this e-mail. Use REPLY ALL to make sure your e-mail reaches the appropriate recipients.</p>
    <% end %>
  </body>
</html>
