<h1><%= @page_title %></h1>
<p>Hi, <%= current_user.name %>!</p>

<h2>My Information</h2>
<% if current_user.n700.blank? %>
  <p>Please enter your 700# below:</p>
<% end %>

<%= semantic_form_for(current_user, url: account_update_url, method: :post) do |f| %>

  <%= f.inputs do %>
    <%= f.input :name, input_html: {disabled: true, class: 'form-control-sm'}, wrapper_html: {class: 'row'} %>
    <%= f.input :email, required: false, input_html: {disabled: true, class: 'form-control-sm'}, wrapper_html: {class: 'row'} %>
    <%= f.input :n700, label: '700#', input_html: {disabled: current_user.n700.present?, class: 'form-control-sm'}, wrapper_html: {class: 'row'} %>
  <% end %>

  <% if current_user.n700.blank? %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, label: 'Update', button_html: {class: 'btn btn-primary'} %>
    <% end %>
  <% end %>
<% end %>

<h2>Interlibrary Loan</h2>
<a href="https://universityofcentralmissourilibrary.account.worldcat.org/profile/">View interlibrary loan requests on JCKL ILL</a>

<h2>Current Checkouts</h2>
<% if current_user.n700.blank? %>
  <p>Before you can use this feature, enter your 700# above. You will only have to do this once.</p>
<% elsif @checkouts.present? %>
  <%= form_tag(account_renew_url, method: :post) do %>

    <div class="form-buttons-top btn-toolbar">
      <button type="submit" class="btn btn-primary">Renew Checked Items</button>

      <div class="checkout-renewal-toggle-all btn-group" role="group">
        <button type="button" class="toggle-check-all btn btn-light">Check all</button>
        <button type="button" class="toggle-uncheck-all btn btn-light">Uncheck all</button>
      </div>
    </div>

    <ul class="list-group checkouts">
      <% @checkouts.each do |checkout| %>
        <li class="checkout list-group-item <%= if checkout[:due_date].blank? then "" elsif Chronic.parse(checkout[:due_date]) < Time.zone.now then 'checkout-overdue' end %>">
          <label>
            <div class="checkout-select"><%= check_box_tag("checkouts[#{checkout[:checkout_id]}]", 1, false) %></div>
            <% if checkout[:is_inn_reach] %>
            <div>
              <div><strong>MOBIUS Book</strong></div>
              <div>To view details, log in to <a href="http://avalon.searchmobius.org/patroninfo">your Avalon account</a>.</div>
            </div>
            <% else %>
            <div>
              <div class="checkout-title"><strong>Title:</strong> <%= checkout[:title] %></div>
              <div class="checkout-author"><strong>Author:</strong> <%= checkout[:author] %></div>
              <div class="checkout-call-number"><strong>Call Number:</strong> <%= checkout[:call_number] %></div>
            </div>
            <% end %>
            <div>
              <div class="checkout-due-date"><strong>Due:</strong> <%= checkout[:due_date] %></div>
              <div class="checkout-date"><strong>Checked Out:</strong> <%= checkout[:checkout_date] %></div>
              <% if !checkout[:is_inn_reach] %>
                <div class="checkout-more-info"><strong>More Info:</strong> <%= link_to(checkout[:catalog_url], checkout[:catalog_url]) %></div>
              <% end %>
              <% if checkout[:renewal] %>
                <% if checkout[:renewal]['name']&.downcase&.include?('error') %>
                  <div class="checkout-renewal-status error">
                    <strong>Renewal Status:</strong> <%= checkout[:renewal]['description']&.downcase&.gsub('webpac error :', '')&.strip&.capitalize %>
                  </div>
                <% else %>
                  <div class="checkout-renewal-status success">
                    <strong>Renewal Status:</strong> Renewed successfully
                  </div>
                <% end %>
              <% end %>
            </div>
          </label>
        </li>
      <% end %>
    </ul>

    <div class="form-buttons-bottom btn-toolbar">
      <button type="submit" class="btn btn-primary">Renew Checked Items</button>

      <div class="checkout-renewal-toggle-all btn-group" role="group">
        <button type="button" class="toggle-check-all btn btn-light">Check all</button>
        <button type="button" class="toggle-uncheck-all btn btn-light">Uncheck all</button>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You have no checkouts to display.</p>
<% end %>






<h2>Current Holds</h2>
<% if current_user.n700.blank? %>
  <p>Before you can use this feature, enter your 700# above. You will only have to do this once.</p>
<% elsif @holds.present? %>
  <%= form_tag(account_modify_holds_url, method: :post) do %>

    <div class="form-buttons-top btn-toolbar">

      <div class="input-group">
        <select class="form-control holds-location" name='holds_location'>
          <option selected></option>
          <% SierraApiService::PICKUP_LOCATIONS.each do |k, v| %>
            <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="holds_action" value="change_location">Change Pickup Location</button>
        </span>
      </div>

      <button type="submit" class="btn btn-danger" name="holds_action" value="cancel">Cancel Checked Holds</button>

      <div class="hold-renewal-toggle-all btn-group" role="group">
        <button type="button" class="toggle-check-all btn btn-light">Check all</button>
        <button type="button" class="toggle-uncheck-all btn btn-light">Uncheck all</button>
      </div>
    </div>

    <ul class="list-group holds">
      <% @holds.each do |hold| %>
        <li class="hold list-group-item <%= if ['bad', 'invalid', 'error'].any?{ |word| hold.dig('modification_response','name')&.downcase&.include?(word) } then 'error' else 'success' end %>">
          <label>
            <div class="hold-select"><%= check_box_tag("holds[#{hold['id']}]", 1, false) %></div>
            <div>
              <div class="hold-title"><strong>Title:</strong> <%= hold['title'] %></div>
              <div class="hold-author"><strong>Author:</strong> <%= hold['author'] %></div>
              <div class="hold-call-number"><strong>Call Number:</strong> <%= hold['callNumber'] %></div>
              <div class="hold-more-info"><strong>More Info:</strong>
                <% if hold['catalogUrl'] %>
                  <%= link_to(hold['catalogUrl'], hold['catalogUrl']) %>
                <% elsif hold['innreachId'] %>
                  Not available for MOBIUS requests
                <% end %>
              </div>
              <% if ['bad', 'invalid', 'error'].any?{ |word| hold.dig('modification_response','name')&.downcase&.include?(word) } %>
                <div class="hold-error">
                  <strong>Error:</strong> <%= hold.dig('modification_response', 'description') %>
                </div>
              <% end %>
            </div>
            <div>
              <div class="hold-placed-date"><strong>Placed:</strong> <%= hold['placed'] %></div>
              <div class="hold-date-before"><strong>Not Wanted Before:</strong> <%= hold['notWantedBeforeDate'] %></div>
              <div class="hold-date-after"><strong>Not Wanted After:</strong> <%= hold['notNeededAfterDate'] %></div>
              <div class="hold-location"><strong>Pickup Location:</strong> <%= SierraApiService::PICKUP_LOCATIONS[hold.dig('pickupLocation', 'code')] %></div>
              <div class="hold-note"><strong>Note:</strong> <%= hold['note'] %></div>
            </div>
          </label>
        </li>
      <% end %>
    </ul>

    <div class="form-buttons-bottom btn-toolbar">

      <div class="input-group">
        <select class="form-control holds-location" name='holds_location'>
          <option selected></option>
          <% SierraApiService::PICKUP_LOCATIONS.each do |k, v| %>
            <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" name="holds_action" value="change_location">Change Pickup Location</button>
        </span>
      </div>

      <button type="submit" class="btn btn-danger" name="holds_action" value="cancel">Cancel Checked Holds</button>

      <div class="hold-renewal-toggle-all btn-group" role="group">
        <button type="button" class="toggle-check-all btn btn-light">Check all</button>
        <button type="button" class="toggle-uncheck-all btn btn-light">Uncheck all</button>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You have no holds to display.</p>
<% end %>

<h2>Fines</h2>
<p>
  This is a listing of all the fines you have accrued at JCKL, not necessarily fines you owe.
  You may or may not owe these fine. Use <%= link_to 'MyCentral', 'https://mycentral.ucmo.edu' %>
  to see which fines you currently owe.
</p>

<% if @fines %>

  <ul class="list-group fines">
  <% @fines.each do |fine| %>
    <li class="list-group-item fine">
      <div>
        <div class="fine-description"><strong>Fine Description:</strong> <%= fine[:description] || 'Library Fine' %></div>
        <div class="fine-date"><strong>Date:</strong> <%= fine[:assessed_date] %></div>
        <div class="fine-amount"><strong>Amount:</strong> $<%= sprintf( "%0.02f", fine[:fine_total]) %></div>
        <% if fine[:title] %><div class="fine-title"><strong>Title:</strong> <%= fine[:title] %></div><% end %>
        <% if fine[:author] %><div class="fine-author"><strong>Author:</strong> <%= fine[:author] %></div><% end %>
        <% if fine[:call_number] %><div class="fine-call-number"><strong>Call Number:</strong> <%= fine[:call_number] %></div><% end %>
      </div>
    </li>
  <% end %>
  </ul>

<% else %>
  <p>You have no fines to display.</p>
<% end %>
