<p>An EZproxy host error occurred:</p>

<ul>
  <li>Time: <%= Time.now %></li>
  <li>Host: <%= @host %></li>
  <li>Link: <%= @link %></li>
  <li>Referrer: <%= @referrer %></li>
  <li>User IP Address: <%= @ip %></li>
</ul>
